[2017-04-19 09:08] mossandlichens opened #2 "Feature request | appSettings on AppCast"
Would it be possible to extend the appcast xml to support a section like appSettings?

[2017-04-20 09:48] ravibpatel commented on #2
Can you give me a scenario where this feature can be useful?

[2017-04-20 12:13] mossandlichens commented on #2
App A is delivered and used by clients P, Q and R.
Each client enters an API key to use App A.
Based on this API key App A remotely configures each instance of App A.

A key value pair such as appSettings in AutoUpdater.NET AppCast xml will help in implementing this remote config, which otherwise will have to implemented separately.

[2017-04-23 05:36] ravibpatel commented on #2
I think it is possible to do this. But I am thinking of solution where you can add any additional tags to app cast XML and AutoUpdater.NET will fetch those and make them available to you in a CheckForUpdateEvent.

[2017-04-24 18:23] Talagozis opened #5 "AutoUpdater.NET.pfx files is missing from solution."
AutoUpdater.NET.pfx files is missing from ZipExtractor project. Should that file be there? or an other .pfx files is needed to be created?

[2017-04-25 04:09] LuciaVeldera opened #6 "Can not use ZipExtractor"
Do you have any suggestion on how I can start use this feature?

[2017-04-25 05:30] ravibpatel commented on #6
ZipExtractor is embedded in AutoUpdater.NET.dll file. So if you provide zip file URL between url tag of the XML file, AutoUpdater.NET will use the ZipExtractor to extract the contents of ZIP file to the current working directory. This feature is intended for those developers who are not familiar with the development of installer technologies. Those developers can now just zip the contents of the n

[2017-04-25 05:33] ravibpatel commented on #5
I didn't notice it until now. I used the same pfx file as used with AutoUpdater.NET. You can sign them with your own .pfx files for now and use it in your project. I will provide signed version of the dll with the final release of AutoUpdater.NET 1.4.

[2017-04-25 05:33] #5 closed

[2017-04-25 07:01] LuciaVeldera commented on #6
![image](https://cloud.githubusercontent.com/assets/9936548/25372336/31e10156-29bf-11e7-8ff3-c65fdbdbdaad.png)
When I click on update button,it run winrar program. Is it suppose to be like this? I thought it will show progress bar and replace files with the new ones.

[2017-04-25 07:28] ravibpatel commented on #6
Did you compile the latest version of DLL by downloading the project and using it in your project?

[2017-04-25 07:49] LuciaVeldera commented on #6
PM> Install-Package Autoupdater.NET.Official
I only run the above line. Did I do it correctly? If it's not, Where can I get the latest version of the project?
I downloaded a master version of the project ,but I can't use it because there are some kind of error and some files missing from the project.

[2017-04-25 10:08] ravibpatel commented on #6
You did it correctly, but Nuget package wasn't updated then. I have done it now. So you can try again and this time it should work.

[2017-04-25 11:03] LuciaVeldera commented on #6
Thank you for your help ravibpatel. A zip extractor is now already worked, but the application still didn't get an updated version. I think the extractor already extract the file, but what I don't know is where the files are extract to. I place my application in D:\MyApplication .

[2017-04-25 11:28] ravibpatel commented on #6
Can you tell me the URL of XML you are using? You need to match your application structure with zip file. For example if your executable resides in D:\MyApplication\AutoUpdaterTest.exe then it should be In the root of your zip file. If you download the project now and check it you will see I updated the example project to demonstrate this functionality.

From: LuciaVeldera<mailto:notifications@git

[2017-04-25 12:05] mossandlichens commented on #2
That will be great! Is there any way I can support you?

[2017-04-26 06:17] ravibpatel commented on #2
I will contact you if I need help. Thanks for offering.

[2017-04-26 06:59] LuciaVeldera commented on #6
I'm sorry ravibpatel. It's my mistake and now the auto updater are working perfectly. I really appreciate your help.

[2017-04-26 06:59] #6 closed

[2017-04-28 15:46] TonyValenti opened #8 "Does this work for Visual Studio for Mac?"

[2017-04-28 15:47] TonyValenti commented on #8
Specifically, I'm building an AppKit app and it can't be updated through the AppStore.

[2017-04-28 15:56] ravibpatel commented on #8
I don't have cross platform development experience. Maybe core code (AutoUpdater.cs) that gets the XML file from the server and fill the properties is portable. But it uses WinForms to notify users about the update.

[2017-05-02 04:05] LuciaVeldera opened #10 "Does the auto updater work on .NET Framework 1.1 ?"
I can't find the information about which version of .NET Framework can use with the auto updater. Can you tell me about this ,please?

[2017-05-02 15:36] ravibpatel commented on #10
Minimum .NET Framework it works on is 2.0.

[2017-05-03 02:15] #10 closed

[2017-05-03 02:39] netroby opened #11 "Once download complete , autoupdater not close the running programm first. the update failed"
Once download complete , autoupdater not close the running programm first. the update failed

The autoupdater just restat running programm, and it still old version , not update to latest version.

so why not close running program, then update, then start new program.

[2017-05-03 05:16] ravibpatel commented on #11
If you see the source code it just does that. Which type of application are you developing (WPF, Winforms, Console etc.)?

[2017-05-03 13:17] netroby commented on #11
winforms.
https://github.com/netroby/border-less-browser/blob/master/BorderLessBrowser/BrowserForm.cs

I am sure it does not close program, the updater hang up .

[2017-05-03 13:31] netroby commented on #11
https://github.com/ravibpatel/AutoUpdater.NET/blob/master/AutoUpdater.NET/DownloadUpdateDialog.cs#L83

can you please provide an api to force exit the parent process/application

[2017-05-03 13:35] netroby commented on #11
for Example.

Autoupdate.OnDownloadComplete(()=>Application.Exit())

[2017-05-03 13:47] netroby commented on #11
https://github.com/ravibpatel/AutoUpdater.NET/blob/master/AutoUpdater.NET/DownloadUpdateDialog.cs#L66

The problem is this . you really should close the running parent programm, then you can run zip extract . or the zip extract would not override the running files

[2017-05-04 12:11] ravibpatel commented on #11
https://github.com/ravibpatel/AutoUpdater.NET/blob/master/AutoUpdater.NET/DownloadUpdateDialog.cs#L74-L90

If you see above those lines are dedicated to doing just that. Close currently running application.

[2017-05-04 12:17] netroby commented on #11
sorry. it not works. but i found other solution

On Thu, May 4, 2017 at 8:11 PM +0800, "Ravi Patel" <notifications@github.com> wrote:

https://github.com/ravibpatel/AutoUpdater.NET/blob/master/AutoUpdater.NET/DownloadUpdateDialog.cs#L74-L90

If you see above those lines are dedicated to doing just that. Close currently running application.

—
You are receiving this because you authored the thread.

[2017-05-05 07:27] liver opened #12 "Start arguments"
Add to the method DownloadUpdate(string[] args) to start updated application with arguments.

[2017-05-05 15:39] ravibpatel commented on #12
I am thinking of adding an XML tag for arguments that will be used with the installer.

[2017-05-10 14:10] delfuria opened #13 "Add AutoCheck for Update based on Time interval"
Hi,
i think that could be great to implement a way for check for the updates every (n) seconds(or minutes) and not only when the app start.

[2017-05-11 07:33] ravibpatel commented on #13
Nice idea. Looking forward to implementing it in the future.

[2017-05-23 20:00] anthonyjr2 opened #15 "Force an update?"
Is there a way to force updates on the application? As in, remove the remind me later button and make it so they cannot use the program unless they update. At this point if I happen to accidentally click remind me later or skip there is no way to get the update until I send a newer version out.

[2017-05-24 05:33] ravibpatel commented on #15
You can handle the update logic yourself and if there is update it will download it automatically. You can do it by using following code.

[code]

[2017-05-24 13:56] anthonyjr2 commented on #15
Ah, I saw that code on the main page but I ran into a small problem with it. Using that as-is makes a "No update available" box pop up every time I start the program. I only want that to pop up when I click the "Check for updates" button. I'm sure I can figure out a workaround.

But is there any way to also add a feature to AutoUpdater that just lets you disable the remind button? Just like the sk

[2017-05-24 14:07] anthonyjr2 commented on #15
I just threw a bool check for first run in there and it works fine. But I would still like to request a disable option like the skip button.

[2017-05-25 16:33] ravibpatel commented on #15
If you don't want to check for update on startup of an application then just move following line into Button click event. I will provide an option to disable remind later button soon.

`AutoUpdater.Start("Put your XML file URL here.");`

[2017-05-30 16:06] guillaumejay commented on #11
I have the same problem with a WPF app (using currently  click once, but autoupdater is only used when not clickonce-launched),  and if I don't kill manually the application, autoupdater is not able to kill it.

I'm wondering if there's an event I should use to kill my application gracefully by itself.

[2017-05-30 21:37] datelligence opened #16 "Console Debug to find errors"
I've followed the class documentation and even some guides found on the web.  However,  when loading my c# wpf app,  there is no update dialog.  I want to know if there is a method to print on console,  any errors.  Thanks.

[2017-05-30 23:52] i8out opened #17 "Request to specify base directory path for unzip"
Can we specify the start directory path for extracting the saved directory path in my zip file when AutoUpdater starts extract?

[2017-05-31 05:03] ravibpatel commented on #16
did you try handling the update logic yourself by subscribing to CheckForUpdateEvent? You can do it like this.

[code]

[2017-05-31 05:09] ravibpatel commented on #17
No, AutoUpdater.NET uses currently executing application path to determine the directory to extract. If you want to customize this behaviour you can download the project and customize the code according to your needs. I suggest you should use installer as update file for more complex update process.

[2017-05-31 05:13] ravibpatel commented on #11
@guillaumejay Yeah, if you can provide me with the application I can see what is the issue.

[2017-05-31 10:02] guillaumejay commented on #11
Would it be relevant if I only send (where) you the relevant exe (and its dll) ?

We worked a bit and found two things :
- if we add a one second Sleep() in the zipExtracting window, our (specially-restricted version  without cefsharp (see below) ) application can be updated : I think our application is too slow to close.
- in our (real) application  we're using CefSharp, and it seems it opens lot

[2017-05-31 10:06] ravibpatel commented on #11
@guillaumejay As long as I can test AutoUpdate part it's completely fine if you send only relevant exe and DLL.

[2017-05-31 14:01] guillaumejay commented on #11
I sent you a message using uservoice. Thanks for any help you can bring.
I'll try to take a look on my side, I'm not sure my app is well optimized.

[2017-06-09 09:02] JasonXtreme commented on #11
I want to confirm this issue, as I am experiencing it as well. WPF application, .net 4.0 Client profile - If I manage to click the update button before the application starts, all runs well, once my Initialize function goes through, the update fails and the old version is restarted.

[2017-06-09 12:51] ravibpatel commented on #11
@JasonXtreme Do you use CefSharp?

[2017-06-09 12:53] ravibpatel commented on #16
did above solution fix your issue?

[2017-06-09 13:00] JasonXtreme commented on #11
@ravibpatel I do not. I downloaded the source code, found the issue was within ZipExtractor - where you check for (speaking from memory, on my phone) Process.StartInfo.FileName.Equals(args[2]), the FileName was consistently empty (for all 170 processes). Changing StartInfo to MainModule fixed it for me.

[2017-06-09 16:11] ravibpatel commented on #11
Nice find. Just read the MSDN and found out the reason for this. My bad for not reading the full doc.

"If you did not use the Start method to start a process, the StartInfo property does not reflect the parameters used to start the process. For example, if you use GetProcesses to get an array of processes running on the computer, the StartInfo property of each Process does not contain the origina

[2017-06-09 17:22] guillaumejay commented on #11
Great, I hope it will solve my problem.

On Fri, Jun 9, 2017 at 6:11 PM, Ravi Patel <notifications@github.com> wrote:

[2017-06-09 21:32] JasonXtreme commented on #11
Gladly, but it won't be before monday. Cheers!

On Jun 9, 2017 18:11, "Ravi Patel" <notifications@github.com> wrote:

[2017-06-10 05:12] ravibpatel commented on #11
@guillaumejay I afraid it won't fix your problem. I created a minimal application using CefSharp and Environment.Exit() can't kill it. I am working on a workaround. I will email you a fix when I have it.

[2017-06-10 05:40] guillaumejay commented on #11
Did you manually call cef.Shutdown too ?

On Sat, Jun 10, 2017 at 7:12 AM, Ravi Patel <notifications@github.com>
wrote:

[2017-06-10 05:43] ravibpatel commented on #11
@guillaumejay No, but when I tried with Event Application.Current.Shutdown() can kill the application.

[2017-06-13 11:52] stefanblasi commented on #11
I have the same problem.
In my WPF application sometimes update works and sometimes not. Seems to be a timing issue.
When update fails the application restarts with the same version as before and the update dialog is shown again. Starting update a second time is sometimes working, sometimes the updater hangs forever.

[2017-06-13 17:19] ravibpatel commented on #11
@stebla27 I got the fix. Just download the Beta from [here](https://www.dropbox.com/s/6uzfyvnvthov53b/AutoUpdater.NET%201.4.1%20Beta.zip?dl=0) and try it out. You need to handle ApplicationExitEvent though. I am still working on it so you don't have to do it in future.

[code]

[2017-06-13 20:34] stebla27 commented on #11
@ravibpatel
Thanks a lot for fast help. My first tests were positive! The possibility for an ApplicationExitEvent is not so bad. 👍
But I have a feature request for this:
It would be nice if i could cancel update in this event by passing a custom error/info text. Or maybe it is better to specify another Event BeforeApplicationUpdate.
My use case is as follows:
The Auto Update is started when applic

[2017-06-13 20:37] stebla27 commented on #13
Would be a very helpful feature.

[2017-06-14 04:50] ravibpatel commented on #11
@stebla27 There is event already available for this purpose. See [Handling updates manually](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually) section. You can do whatever you want to do before downloading and installing the update in this event. ApplicationExitEvent is not so bad but the idea of adding an another line for it to work bothers me. It should me nice if the deve

[2017-06-15 10:39] #11 closed

[2017-06-16 14:17] anthonyjr2 commented on #15
I see the commit for the remind later button, thanks!

[2017-06-16 14:17] #15 closed

[2017-06-19 12:00] #13 closed

[2017-06-19 12:22] ravibpatel commented on #16
Now you can set ReportErrors to true and it will show you the errors.

[2017-06-19 12:22] #16 closed

[2017-06-19 12:23] #8 closed

[2017-06-19 12:23] #17 closed

[2017-06-19 12:29] ravibpatel commented on #13
You can do this as shown in following.

[https://github.com/ravibpatel/AutoUpdater.NET#check-updates-frequently](https://github.com/ravibpatel/AutoUpdater.NET#check-updates-frequently)

[2017-06-22 04:48] frost4869 opened #18 "Zip file is not extracted"
After finished download the zip file, it just opens the zip file without extracting.
I am using AutoUpdater from Nuget for a WPF application. Am I missing something ?

[2017-06-22 05:02] ravibpatel commented on #18
can you give me URL of your XML file?

[2017-06-22 06:27] frost4869 commented on #18
here:

`<item>
	<version>6.21.17</version>
	<url>
		https://github.com/frost4869/uploadfiles/raw/master/PC%20Installer.rar
	</url>
	<changelog>
		https://github.com/frost4869/PCs/releases
	</changelog>
	<mandatory>false</mandatory>
</item>`

I know this issue has been asked before, but I didn't quite understand the problem, thank you for responsed

[2017-06-22 06:50] ravibpatel commented on #18
AutoUpdater.NET only supports .zip files and installer files in url field. You used .rar file as a download URL. Compress it as a zip file and try again it will work.

[2017-06-22 06:59] frost4869 commented on #18
oh man I feel so dumn right now, thank you, everything works fine now !

[2017-06-22 06:59] #18 closed

[2017-07-04 07:39] stebla27 commented on #11
The problems unfortunately still exists.
There are still update loops.
The program says, there is an update.
Customer clicks on update.
Old program starts again and says that there are updates available.
It's random.

[2017-07-04 07:47] ravibpatel commented on #11
@stebla27 It was happening with the beta I provided earlier too?

[2017-07-04 07:58] stebla27 commented on #11
@ravibpatel: As it does not happen on all PCs and it is a timing issue I'm not 100% sure. But with the beta I got no customer reports. After upgradin to the official nuget package (including your fix) the behavious is just like before.
Sorry for bad message! ;)

[2017-07-04 08:04] ravibpatel commented on #11
@stebla27 Problem with the beta is if user use Remind later option then it throws an error when ApplicationExitEvent is called.

[2017-07-04 08:08] ravibpatel commented on #11
@stebla27 Which .NET Framework you use and is your application using any third party libraries other than this?

[2017-07-04 21:03] taylorzs opened #20 "Uses of webResponse.ResponseUri after webResponse is closed"
Please check following commit 89e05799896bdfee7e439fc4025a8035a982ba63on June 16.

AutoUpdater.cs

![image](https://user-images.githubusercontent.com/29901996/27842721-d43ad966-610c-11e7-8cc9-f45e1cedc6ec.png)

It will cause System.ObjectDisposedException.

[2017-07-05 06:07] ravibpatel commented on #20
Thanks for reporting the issue. I totally missed that one. I will fix it asap.

[2017-07-05 06:26] #20 closed

[2017-07-05 15:41] stebla27 commented on #11
@ravibpatel .Net Framework 4.5.2
Third Party components:
CommonServiceLocator
Costura.Fody
FontAwesome.WPF
FontAwesome.WPF
Microsoft.Bcl
morelinq
Newtonsoft.Json
Nito.AsyncEx
Ookii.Dialogs
Pri.LongPath

[2017-07-06 05:21] ravibpatel commented on #11
@stebla27 Where you call the Start method (constructor of MainWindow)?

[2017-07-06 10:25] stebla27 commented on #11
@ravibpatel Yes in constructor of MainWindow.

[2017-07-06 16:06] stebla27 commented on #11
@ravibpatel Regarding the "Remind later" option
A customer also reported an exception in UpdateForm.Designer.cs when he clicks on "Remind me later" and the update notice time has expired.

[2017-07-06 18:52] ravibpatel commented on #11
@stebla27 Can't reproduce the Remind Later exception. Did you get the stack trace for the error? Can you share me the location of your XML file?  If you can't do it here you can share it on [http://rbsoft.uservoice.com](http://rbsoft.uservoice.com).

[2017-07-09 17:04] stebla27 commented on #11
@ravibpatel Unfortunately I have no stack trace. Only the information that exception occurred in UpdateForm.Designer.cs.
I can't provide you the location of the XML file as it is stored on an internal server and only accessible from an internal webserver.

[2017-07-10 08:05] ravibpatel commented on #11
@stebla27 Can you try the beta from below to see if it fixes your problem?

[https://www.dropbox.com/s/xg2543cmlcff04a/AutoUpdater.NET.zip?dl=0](https://www.dropbox.com/s/xg2543cmlcff04a/AutoUpdater.NET.zip?dl=0)

[2017-07-10 23:25] datelligence commented on #16
Hi @ravibpatel thanks for your answer,  I indeed used ReportErrors,  however the class is working fine so no errors reported,  thanks again for sharing.

[2017-07-11 13:40] aschoelzhorn opened #21 "Check the integrity of the downloaded update"
The integrity of the downloaded update should be checked using a hash.

[2017-07-11 13:44] aschoelzhorn opened #22 "Ensure the integrity of the xml file"
Ensure the integrity of the xml file by signing the xml

[2017-07-12 05:36] ravibpatel commented on #21
@aschoelzhorn I am thinking of adding the MD5 field in the XML file. Developers can calculate the MD5 hash of an update file and provide it in the XML file. After downloading the update file it checks for the hash and compares with the MD5 field value to see if the file is OK or not.

[2017-07-12 06:20] ravibpatel commented on #22
@aschoelzhorn Don't you think it will be an overkill? Every time we change it we need to sign it again.

[2017-07-12 07:24] aschoelzhorn commented on #22
I don't think, this is an overkill, but necessary for Issue #21 .  The MD5 hash is almost ueseles, as long a you can not be sure the xml file hasn't been compromised.

[2017-07-13 15:58] datelligence opened #24 "Download crashes,"
Hi Ravi,  after correctly configuring according to your documentation,  when user clicks to update my app,  The download progress bar appears to be downloading but at 75% it crashes the app.

What can be done or how can I fix what is wrondone in my code.
I've already set method ReportErrors as true.  .NET framework ver 4.5.2.

Thanks,

[2017-07-13 17:58] ravibpatel commented on #24
@datelligence Can you provide me with the URL of your XML file?

[2017-07-13 18:58] datelligence commented on #24
Ok thanks Ravi,  https://www.datelligent.com/apps/psv/dsk/upd/psvDskSaManifest.xml

[2017-07-14 06:37] ravibpatel commented on #24
@datelligence  File downloads completely fine for me without any crashes.

[2017-07-14 06:54] ravibpatel commented on #22
@aschoelzhorn You are right. But I don't think many ppl will sign their XML files. If this issue gets more votes I will consider adding it.

[2017-07-14 10:10] bluebits88 opened #25 "Not working with TLS 1.2 Download Source .Net 4.0"
Hello,

your Package seems currently not be able to connect to a HTTPS TLS 1.2 Source when used in .Net Framework 4.0.

I had to include the following lines of code to make it work:

       public const SslProtocols _Tls12 = (SslProtocols)0x00000C00;
        public const SecurityProtocolType Tls12 = (SecurityProtocolType)_Tls12;
ServicePointManager.SecurityProtocol = Tls12;

I don't think i can pl

[2017-07-14 10:33] ravibpatel commented on #25
@bluebits88 UI of the AutoUpdater.NET runs on another thread. If ServicePointManager.SecurityProtocol persists across threads it should work. The only way to know is by trying it.

[2017-07-24 00:24] datelligence commented on #24
Hi Ravi,  after 2 weeks working on other project,  I return.  The fact is that when autoupdater progress bar is about 75% it always crashes.  The event register gives me the info on the screen I attach.
![screenshot from 2017-07-23 19-18-45](https://user-images.githubusercontent.com/8643845/28504427-838c4b60-6fdc-11e7-9708-4a10c1eba8d0.png)

[2017-07-24 05:51] ravibpatel commented on #24
There is no mention of AutoUpdater.NET code in a stack trace. Also, AutoUpdater code is running without it, You can't reach the download dialog. So it seems that assembly .NET version is correct too. Can you try following solutions?

[https://stackoverflow.com/questions/26672062/wpf-application-crashed-with-xamlparseexception-and-system-io-filenotfoundexcept](https://stackoverflow.com/questions/26

[2017-07-24 17:38] datelligence commented on #24
Thanks Ravi,  however,  when blocking the executiion of AutoUpdater.NET,  the app does not crashes.  So I agree that AutoUpdater.NET is working fine and the crash is caused by a missing dependency on my app,  I know this dependecy is related to AutoUpdater,NET,  which I' love to know what is.

[2017-07-24 18:30] ravibpatel commented on #24
AutoUpdate.NET doesn't use any third party libraries except ZipStorer class which is not referenced but directly integrated into the project. Can you try downloading the latest version of the library from release section and try referencing the AutoUpdater.NET.dll for older .NET version.

[https://github.com/ravibpatel/AutoUpdater.NET/releases](https://github.com/ravibpatel/AutoUpdater.NET/release

[2017-07-26 19:16] stebla27 commented on #11
@ravibpatel: The problem is I can't reproduce it on my machine. I've only see it on customer platforms and here I can't really test.
I checked the code and I have two questions:
In Exit method:
foreach (var process in Process.GetProcessesByName(currentProcess.ProcessName))
            {
                if (process.Id != currentProcess.Id)
                {
                    process.Kill();

[2017-07-27 08:38] ravibpatel commented on #11
@stebla27 There is an additional check present in ZipExtractor that wait for the process to completely exit before extracting anything from downloaded archive. As you can see [here](https://github.com/ravibpatel/AutoUpdater.NET/blob/master/ZipExtractor/FormMain.cs#L26-L40). There is no retry behaviour currently present now but I can write one.

[2017-07-27 12:42] stebla27 commented on #11
@ravibpatel : Ok, waiting for the process to exit is OK. You don't need a retry behaviour here.
But when you overwrite the file on extracting (don't known where in your code) it could be that windows hasn't released the file handle yet and you will become I/O Exception. In this case you have to wait some time and retry it again.
I had the same problem in my application and it is timing dependent w

[2017-07-30 13:52] TechnikEmpire commented on #25
`// Enforce good/proper protocols
            ServicePointManager.SecurityProtocol = (ServicePointManager.SecurityProtocol & ~SecurityProtocolType.Ssl3) | (SecurityProtocolType.Tls | SecurityProtocolType.Tls11 | SecurityProtocolType.Tls12);`

[2017-08-01 16:57] JavierCanon commented on #22
@aschoelzhorn you can use https, or maybe ftps to get the xml, or change to  check in a webservice and authenticate the user, if you are paranoid, you need to check your current local app for changes (altered files), and check the files sync with a server, like videogames...,   ex. at updater start, check local files vs server files, the client never know the name of the xml in server, get an ID f

[2017-08-02 18:25] 13dev opened #27 "Update form syntax error"
Hey, i have visual studio 2015, on **UpdateForm.cs**, line 43 you have this:
[code]
and my vs get an syntax error i change for this:

[code]

Is my VS out of date?

[2017-08-03 05:11] ravibpatel commented on #27
Yes. It doesn't happen on Visual Studio 2017.

[2017-08-03 05:11] #27 closed

[2017-08-18 21:17] ktownmods opened #28 "Only show the update form when the tool form loads"

[2017-08-18 21:18] ktownmods opened #29 "Only show the update form when the tool form loads"
hey is there a way t o load autoupdater from Form_Load without the regular form from the c# project?

i mean when i start my priojekt the regular form comes and the autoupdater form is behind them you know?

sry for my bad english

[2017-08-19 05:33] ravibpatel commented on #29
You can call Start method in Form_Shown method. That way it should be on top of the main form. Make sure your main form's Top Most property is false.

[2017-08-19 11:52] ktownmods commented on #29
u add the start option in Form_Shown and make the main form top most to false but the mainform is still on the top and the updateform in the back

[2017-08-19 11:54] ktownmods commented on #29
btw is there an way that when an update available that the update form only there without the mainform and when no update available the main form opens?

[2017-08-19 12:23] ktownmods opened #31 "ZipExtractor waiting for application exit"
This doesnt work look at screenshot

![screenshot_73](https://user-images.githubusercontent.com/17227224/29486583-f2266354-84e9-11e7-9209-1c9d5ea5d75a.png)

[2017-08-19 18:47] ktownmods commented on #31
That only happens when i use MetroFramework.Forms.MetroForm

[2017-08-21 07:35] ravibpatel commented on #29
You can do it by handling the update logic yourself. Like shown in the following documentation.

[Handling Updates Manually](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually)

[2017-08-21 08:52] #28 closed

[2017-08-21 08:58] ravibpatel commented on #31
It means that something is preventing your application from closing. I tried using MetroForm and it works fine for me. If you can post the sample project about the issue it can help me identify the issue.

[2017-08-21 18:30] solutionsville commented on #31
I am seeing the same issue. I noted the issue with the AutoUpdaterTest Forms application.

If I use the Button event, it fires correctly and does not error out. Using the options in the Form_Load event if I use any option other than the;;

AutoUpdater.Start("xmlfilelocation");

the AutoUpdaterTest application will not close and then results in an error message that there was a problem in reaching

[2017-08-22 13:53] ravibpatel commented on #31
@snnshn96 @solutionsville If you can provide sample application with the problem. It will be more helpful. I am unable to reproduce the issue on my end.

[2017-08-22 14:07] solutionsville commented on #31
The Example is YOUR AutoUpdaterTest app in the AutoUpdater.NET-Master download.

Brian S. Cook
BNSF Railway | Consulting Systems Engineering I |
2400 Western Center Blvd, Fort Worth, TX, 76131
tel:8175930495 Office | tel:8176927662 Cellular | email:brian.cook@bnsf.com<sip:brian.cook@bnsf.com> Email
[2015SignatureLine]

From: Ravi Patel [mailto:notifications@github.com]
Sent: Tuesday, August 22, 20

[2017-08-22 15:06] felixvandal opened #32 "Issue with virtual directory"
Hello!
I would like to start by thanking you for such a great piece to update software
I am more a website guy, but my boss asked me for a software...so i did a software
I have created a virtual directory on one of our server and put the xml needed for AutoUpdater.NET

[code]

and in my Window_Loaded event i put :
`AutoUpdater.Start("http://catalogue.groupeep.com:8080/version.xml");`
my software i

[2017-08-23 06:37] ravibpatel commented on #31
@solutionsville AutoUpdaterTest app works fine for me. I can't reproduce the issue on my PC.

[2017-08-23 06:41] ravibpatel commented on #32
If you are using http://localhost:8080/setup.exe as download URL then I don't think it will work. You need to define the URL in XML like this http://catalogue.groupeep.com:8080/setup.exe

[2017-08-23 11:38] felixvandal commented on #32
well now it work
Thank you very much for your help
I tried this one :  http://localhost:8080/setup.exe because it was documented like that on Codeplex
Now i understand that the url tag is use to store a url that is return to the application calling the xml version file
could be nice to add to your documentation to prevent fool like me to do something like at did
anyway thank you for your help and

[2017-08-23 11:48] felixvandal commented on #32
Since i got you, is there a way to prevent the popup showing when there is no update available?

[2017-08-23 11:51] solutionsville commented on #31
Ok, Ravi,
Steps to reproduce.
Start with a  clean copy of the AutoUpdater.NET-master file.
Open Solution in VS 2017
View Code for FormMain.cs in the AutoUpdaterTest project.
Uncomment lines 51, 55 and 57.
In my case I changed the http location, and then did a Rebuild all.
Select AutoUpdaterTest Startup Project and Click Start.
It prompts you that the program is out of date and asks if you want to

[2017-08-23 12:32] ravibpatel commented on #32
@felixvandal There should be no dialog when there is no update. Are you seeing update dialog after updating the application to the latest version?

[2017-08-23 12:38] ravibpatel commented on #31
@solutionsville Sorry, for not testing thoroughly. You are right there is a problem when developer handles the update logic and uses the DownloadUpdate method provided by AutoUpdater.NET.

Also, timer mistake is there too. I will fix it asap.

[2017-08-23 12:40] solutionsville commented on #31
Now, to get the Timer event to work correctly, this is what I did;

``
using AutoUpdaterDotNET;
using AutoUpdaterTest.Properties;
using System;
using System.Reflection;
using System.Timers;
using System.Windows.Forms;

namespace AutoUpdaterTest
{
    public partial class FormMain : Form
    {
        private System.Timers.Timer timer;
        public FormMain()
        {
            timer = new Sys

[2017-08-23 12:45] solutionsville commented on #31
One correction to the above;

Remove the timer.Interval = from the Form_Load event.

[2017-08-23 12:46] felixvandal commented on #32
i have downloaded AutoUpdate.NET monday of this week
i have this showing up

![image](https://user-images.githubusercontent.com/30084866/29616425-71a8638c-87df-11e7-9f8a-88fa9f6f6ae6.png)

let me traduce
title: Update unavailable
message: There is no update available. Try again later

if i understand you right, this box is not supose to show up?

[2017-08-23 12:47] felixvandal commented on #32
Forgot to add
My software is version 1.0.0.0
The xml version file is `<version>1.0.0.0</version>`

[2017-08-23 12:54] ravibpatel commented on #32
@felixvandal version in the XML should be the latest version. The version you want your users to update to. So If your users have 1.0.0.0 and in the XML it is <version>1.1.0.0</version> then it will show the update dialog otherwise nothing. Since you have both the same it is showing there is no update. You only get this type of message if you set AutoUpdater.ReportErrors to true or you are handlin

[2017-08-23 12:56] solutionsville commented on #31
Additionally, if the user intends to Embed the AutoUpdate.NET.dll into the application, move this code to the Form_Load event. Leaving it in the Form_Main will result in a FileNotFound error when you launch it.

Obviously follow the practice for Embedding a dll as referenced in other articles. I can provide an example if you like.

Thanks,

[2017-08-23 13:06] solutionsville commented on #31
Ravi, here is the example of the code if the user wants to embed the AutoUpdate.NET.dll into the AutoUpdateTest.exe or their own application;

``
using AutoUpdaterDotNET;
using AutoUpdaterTest.Properties;
using System;
using System.Reflection;
using System.Resources;
using System.Timers;
using System.Windows.Forms;

namespace AutoUpdaterTest
{
    public partial class FormMain : Form
    {

[2017-08-23 13:09] felixvandal commented on #32
a ok!
i looked back at the description of ReportErrors and its written black on white that ReportErrors do this
i apologize for this
Thank you again for your quick support and have a nice day

[2017-08-23 13:11] ravibpatel commented on #31
@solutionsville I updated the sample project with fixes. Check it out. There was nothing problematic with AutoUpdater.NET. dll itself. Just the wrong implementation.

[2017-08-23 13:13] solutionsville commented on #31
Yes Sir, Agreed. not a problem with the .dll itself.

Great project! Thank you for creating it.

[2017-08-23 13:43] solutionsville commented on #31
Looks and works good. Thanks for listening.

[2017-08-23 17:32] squalsoft opened #33 "Wrong filename when downloaded."
#I have url with my setup: https://downloader.disk.yandex.ru/disk/85704a961f8c50775a45e1f7dd2ec881b3d859c10d3c0e0b0d5a346c035b56a8/599dcfd3/736uxFAZ-OE2KC1qAjgYqnDKmSkHnnnDvneBtZXw-sz5qFRYJSlxvTwsZliYO9TgA3WHH9s1JsE0Mkm7UN7SKA%3D%3D?uid=168460779&filename=Setup_client_otb_1.2.88.0.msi&disposition=attachment&hash=&limit=0&content_type=application%2Fx-msi&fsize=18727064&hid=4e151e78d32e2bf5600bb218d

[2017-08-23 17:36] squalsoft commented on #33
I will try to fix it myself.

[2017-08-24 05:30] ravibpatel commented on #33
Your link is not working anymore. Can you please update it so I can test the pull request?

[2017-08-24 06:11] squalsoft opened #35 "Scaling problems"
On hi dpi displays it exists problems with scaling Autoupdater windows. They are very small because use old Winforms technology. It is better to change winforms to WPF windows.

[2017-08-24 07:31] squalsoft commented on #33
By this link
https://test.oxr-info.ru:47474/test/res.xml
stored xml file which contains download link for file:
TestFile1.txt

[2017-08-24 08:13] #33 closed

[2017-08-24 08:17] ravibpatel commented on #35
You are right but for now, you can handle update logic yourself and that way you can provide your own dialog.

[2017-08-25 11:50] snnshn96 opened #36 "Language Files"
Hello,
   I was wondering if you guys can put all of the language folders under one folder. Also Is there a way to exclude any other language other than English so no other language folder shows up.
Thanks.

[2017-08-25 18:03] ravibpatel commented on #36
@snnshn96 It is possible to do. But you need to edit your app.config file. You can add following code in to your app.config then you can move the Languages file to Languages folder.

[code]

[2017-08-25 19:55] snnshn96 commented on #36
@ravibpatel Thanks for the answer. But whenever I build the application it generates the files outside of the languages folder.

[2017-08-25 21:08] snnshn96 commented on #31
Hi guys I tried the new way up updating and it closes the application but when it opens the updated version it changes the color scheme of the application. Not sure why this is happening.

[2017-08-25 21:48] snnshn96 commented on #31
Sorry. I think I figured out why Windows Color Scheme changes. I think its because the program restarts as admin. I think this because when I right click on my application and run it as admin it changes the color scheme. I'm not sure why this is happening. If any one has an idea or how to stop it lmk.

[2017-08-25 21:49] solutionsville commented on #31
Can you post your code?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sinan Sahin <notifications@github.com>
Sent: Friday, August 25, 2017 4:48:34 PM
To: ravibpatel/AutoUpdater.NET
Cc: Cook, Brian S; Mention
Subject: Re: [ravibpatel/AutoUpdater.NET] ZipExtractor waiting for application exit (#31)

EXTERNAL EMAIL

Sorry. I think I figured out why Windows Color S

[2017-08-26 06:04] ravibpatel commented on #36
@snnshn96 You can move them into Languages folder in the release build. It will work.

[2017-08-26 06:07] ravibpatel commented on #31
@snnshn96 What type (WPF or Winforms) of application are you building?

[2017-08-26 06:09] #32 closed

[2017-08-26 12:27] snnshn96 commented on #31
Its a Winforms application. And its a pretty big project that im working on at my internship.

[2017-08-26 18:30] ravibpatel commented on #31
@snnshn96 If you can provide screenshots of both original and changed color scheme it will be useful.

[2017-08-27 19:37] ktownmods commented on #31
Closed

[2017-08-27 19:37] #31 closed

[2017-08-27 19:38] ktownmods commented on #29
Closed

[2017-08-27 20:06] ktownmods commented on #29
this work but only with that
![screenshot_76](https://user-images.githubusercontent.com/17227224/29753523-b1d8282e-8b73-11e7-84c7-155cad8d9788.png)
but i will that
![screenshot_77](https://user-images.githubusercontent.com/17227224/29753544-f1ebae86-8b73-11e7-854a-e7591c21051f.png)

with the changelog

[2017-08-28 05:06] ravibpatel commented on #29
@ktownmods You can make the update form yourself with the change log and show it when args.IsUpdateAvailable is true. You can use args.ChangelogURL to get the changelog URL.

[2017-08-31 11:40] #36 closed

[2017-09-10 07:27] shizenghua opened #37 "can you add a exit delegate?"
@ravibpatel thank you for a good updater.

because when my program using the <exit>  function , it's crash. i don't know why.
so i changed your program for my logic exit.
i add a delegate <exit> function to resolve my problem.

 private static void Exit()
        {
            if (ExitEvent != null)
            {
                ExitEvent();
            }
            else{.........................

[2017-09-10 07:32] ravibpatel commented on #37
I did it in [this](https://github.com/ravibpatel/AutoUpdater.NET/commit/14b8f687cb9ffb9724bb4ecb104fbbc9740ef964) commit but it causes the problem when AutoUpdater ran from an MTA thread.

[2017-09-15 13:24] gremlin81 opened #38 "Acess denied to Temp."
**Hello. This is error I encounter. Tried to launch application as admin. Nothing changed.**

`See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.UnauthorizedAccessException: Access to the path 'C:\Users\Emiel\AppData\Local\Temp\ZipExtractor.exe' is denied.
   at System.IO.__Error.WinIOEr

[2017-09-17 09:31] ravibpatel commented on #38
@gremlin81 Did you try clearing your Temp folder?

[2017-09-17 18:01] gremlin81 commented on #38
I get around this problem by modyfing updater to use different download directory. Now when I try original again, it works fine. So it was probably just mine antivirus beeing retarded.

Anyway I got another question.  ZipExtractor actually extracts files only for your own test zip. Or at least in my case its doing so.
This  one extracts fine: http://rbsoft.org/downloads/AutoUpdaterTest.zip
Any zip

[2017-09-17 18:40] ravibpatel commented on #38
Which software do you use to create Zip files?

[2017-09-17 18:47] gremlin81 commented on #38
winrar

[2017-09-17 18:50] ravibpatel commented on #38
I use 7Zip and Directory Opus's Zip functionality. I will try WinRAR and let you know if the results from my end.

[2017-09-17 19:08] gremlin81 commented on #38
You are right. Used 7zip and now works perfectly. Thanks. This is weird tho.

[2017-09-18 06:38] ravibpatel commented on #38
I tried creating Zip file with WinRAR 5.50 64bit and it works fine for me.

[2017-09-18 06:43] gremlin81 commented on #38
Maybe its becouse I didnt payed subscription?  :)

[2017-09-18 06:45] ravibpatel commented on #38
I used Trial version too.

[2017-09-18 07:01] gremlin81 commented on #38
I tested it several times. From some reason mine winrar zips cant be extracted by ZipExtractor. Its haunted I guess.

[2017-09-19 05:33] ravibpatel commented on #38
I tried every compression level with WinRAR and it works fine on all of them. Remember it should be zip file not rar or & 7z.

[2017-09-22 11:03] m3ph1 opened #39 "Allow dynamic version numbers - Feature request"
I'm working on an application that uses a technique to auto increment the version number every time it gets built. This does mean the version number is little random but it is consistently increasing from 1.0.0.0. It also means that I have no idea what it will be before it is built.

Currently AutoUpdater.NET, if I have understood the guide correctly, only supports hard coded version numbers in it

[2017-09-22 16:20] ravibpatel commented on #39
@m3ph1 You still need to update the installer or create Zip file to use with AutoUpdater.NET. So I don't see a problem with hard-coded version. Internally AutoUpdater.NET gets the version number from the assembly and compare it with the XML file from the server.

[2017-09-23 02:27] m3ph1 commented on #39
The thing is that the way my program is coded the installer's code is
static. The product version that is looking for is auto incremented with
the applications assembly version. So I never have to look at it. Adding
the ability to do the same thing with autoupdater.net means I can do the
coding once and forget about having to mess with it. Right now everytime I
change something I then have to edit

[2017-09-23 05:10] ravibpatel commented on #39
@m3ph1 To provide this kind of functionality I need to provide a way to upload the XML and installer file to your server after you build the application. If I can get more vote for this issue I can do it.

[2017-09-24 04:23] m3ph1 commented on #39
Well at the moment I'm coding in VS 2015 and then when i'm ready to build I upload it from VS 2015 to visualstudio.com using Team explorer. Visualstudio.com then builds it and releases it to my website. So once I have code I am happy with the build and release stage is complete automated. Would that be what you need to work something out?

[2017-09-24 05:23] ravibpatel commented on #39
@m3ph1 The way you described it I think there is no need to do it from inside AutoUpdater.NET. It can be done by creating a separate console app. You just need to provide the console app with your executable path and use [FileVersionInfo.FileVersion](https://msdn.microsoft.com/en-us/library/system.diagnostics.fileversioninfo.fileversion(v=vs.110).aspx) to get the version of the newly build applica

[2017-09-24 07:56] m3ph1 commented on #39
To be honest I don't see why I should have to write another program to achieve it.

[2017-09-24 08:06] m3ph1 opened #40 "VB - Autoupdate.start does nothing in current nuget"
So I guess I'm being really dumb here but I've installed the nuget for 1.4.3 and created a new form in my application which has a label and button. The form has an "Imports AutoUpdaterDotNET" statement at the top and then this code

`Private Sub Button1_Click(sender As Object, e As EventArgs) Handles Button1.Click
        AutoUpdater.OpenDownloadPage = True
        AutoUpdater.Start("https://codct

[2017-09-24 10:15] m3ph1 commented on #40
Fix it and yeah I was being dumb

Problem was caused by an incorrect method of incrementing the assemblyversion. Switched from doing it programmatically to a plugin and now it works. Now I just need a way to auto increment the version in the XML file now that doesn't involve writing a console application

[2017-09-24 10:15] #40 closed

[2017-09-24 15:31] ravibpatel commented on #39
@m3ph1 Sorry, But it involves build and I can't control it from the class library. The console app is the best approach I can come up with for this type of scenario. If I come up with a better solution I will let you know.

[2017-09-24 17:55] m3ph1 commented on #39
@ravibpatel thanks. I've been looking into post build events and i've come
up with this:

<Import
Project="$(MSBuildExtensionsPath)\MSBuildCommunityTasks\MSBuild.Community.Tasks.Targets"
/>
<ItemGroup>
<File include="$(ProjectDir)autoupdate.xml" />
</ItemGroup>
<FileUpdate File"Regex="(\d+)\.(\d+)\.(\d+)\.(\d+)"
ReplacementText="$1.$2.$3.1" />

but it errors at build time with code 255. I've not m

[2017-09-25 05:38] ravibpatel commented on #39
I think you missing file name in FileUpdate. Just try it like this and it should work.

[code]

[2017-09-25 17:44] m3ph1 commented on #39
After posting this i did notice that and fixed it. It also turns out that
fileupdate is part of a third party tool, which I couldn't get to work
properly. So time for a new solution.....

So now I have a msbuild beforebuild task that takes the assemblyversion and
places it into a file called version.txt. Then I'm trying to get the text
from that file and overwrite line 3 of my xml file (where the

[2017-09-25 23:43] m3ph1 commented on #39
Oh and dude, as a proper thank you for being so helpful and making a create extension/piece of software, I would love to buy you a beer/coffee/soda let me know where I can send it :)

[2017-09-26 03:03] boengkak opened #41 "An exception occured during a webclient request"
error downloading for bigger files around 40Mb, is there any workaround for this? thank you

![new picture 9](https://user-images.githubusercontent.com/5528689/30840510-ead2d35a-a2a1-11e7-8e3c-b5cc52038e35.jpg)

[2017-09-26 05:21] ravibpatel commented on #41
@boengkak Can you provide the XML file URL so I can test at my end?

[2017-09-26 06:05] ravibpatel commented on #39
@m3ph1 You can do it using my [Paypal.me URL](https://www.paypal.me/rbsoft) or you can buy my software from this [website](http://rbsoft.org/downloads/right-click-enhancer/index.html). For the solution of your problem just download the project from [here](https://www.dropbox.com/s/obc0opkmg90sqqd/PostBuildXMLCreator.zip?dl=0), Compile it and add a Post-Build event in project properties like shown

[2017-09-26 06:07] #38 closed

[2017-09-26 06:08] boengkak commented on #41
this is the xml file tester, i've change to 1.7Mb file, but still error in the middle of download prosess
http://9wali-boengkak.rhcloud.com/update/AutoUpdaterTest.xml

[2017-09-26 06:08] #29 closed

[2017-09-26 06:23] ravibpatel commented on #41
@boengkak It is downloading fine on my machine.

[2017-09-26 08:50] boengkak commented on #41
thx for the response, yes, it seems my OS got problems, i'm trying with another client, and it's okay

[2017-09-26 08:50] #41 closed

[2017-09-27 03:36] m3ph1 commented on #39
Thanks. I'm having a couple of days off coz I need a break but I'll check it out tomorrow.

[2017-09-27 04:55] ravibpatel commented on #39
@m3ph1 Thanks for the beer. :)

[2017-09-27 06:30] maroch opened #42 "Application update without Admin privileges"
When i'm trying to update App on another computer, we need to put administrator credentials on update process, everything else works great, but those blocks our solution

any suggestions how to get around it ?

[2017-09-27 11:00] maroch commented on #42
The problem was in a zipextractor project in solution. I had change  manifest file User Account Control level replace the following
<requestedExecutionLevel  level="requireAdministrator" uiAccess="false" />
to
<requestedExecutionLevel level="asInvoker" uiAccess="false" />

[2017-09-27 11:00] #42 closed

[2017-09-28 06:31] m3ph1 commented on #39
So I just implemented this and it works like a charm (locally anyway. I haven't tested it on the remote build server yet but I don't expect any major issues). Thank you so much for all your help. I just wish that it wasn't so early in the project that I can't afford more than the one beer :( .

Oh another note you can just use $(projectdir)postbuildxmlcreator.exe to reference the file (saves posti

[2017-09-28 06:34] ravibpatel commented on #39
@m3ph1 One beer is fine. Thanks again for it. Nice tip about the path. I didn't think of that.

[2017-09-29 13:53] #39 closed

[2017-10-02 12:15] LucasFarley opened #43 "Request to Request to contribute"
I would like to contribute in :
 - Better translate to Portuguese - Brazil
 - Insert Proxy Parameter in autoupdate

[2017-10-02 13:07] ravibpatel commented on #43
Just open a pull request and I will merge it into the repository.

[2017-10-04 21:30] boonkerz opened #44 "Update an Windows Service"
is it possible to update an windows service?

[2017-10-05 05:24] ravibpatel commented on #44
@boonkerz I don't have experience with windows service. But I think it should work if you [handle the update logic manually](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually). You may need to change the part where you exit the application. So for Windows service if AutoUpdater.DownloadUpdate() returns true then you need to stop the service so it will be no longer in use then

[2017-10-17 10:20] KushFace opened #45 "After download finished Application will close and nothing happens"
As the title says. The Message "oh theres a new update" is working and by clicking "Update" it will download the Update. After the Update is finished, the Application will close itself and thats it. In the folder where I started the Application, there is still the old Application. AutoUpdater.NET doesn't replace the old app with the new downloaded. And it also doesn't restart it after downloading.

[2017-10-17 10:23] KushFace opened #46 "Downloading Multiple files"
Would be nice to download mutliple files (a new .dll or something).

For example
[code]

or
`<url>mainapp.exe;newdll.dll</url>`

[2017-10-17 10:38] #46 closed

[2017-10-17 10:39] #45 closed

[2017-10-17 10:44] KushFace opened #47 "New Configuration to block message when there is no Update"
I included the `AutoUpdater.Start()` in my Window_Load Event. So it runs if the application starts.
But its not cool to get the Message "No Update there" everytime because the program starts.

Would be nice to have a Configuration like `AutoUpdater.MessageForNoUpdate = false;` which is true for default.

To prevent getting MessageBox of "No Update there, you have the newest version".

[2017-10-17 13:14] ravibpatel commented on #47
Make sure you don't set AutoUpdater.ReportErrors to true otherwise it will throw errors like this.

[2017-10-17 13:14] #47 closed

[2017-10-17 13:14] ravibpatel commented on #46
You can Zip them and provide the URL of your Zip file in AutoUpdater XML file.

[2017-10-17 13:15] #43 closed

[2017-10-17 13:18] ravibpatel commented on #45
You need to provide Zip or Installer file URL in the XML file. If you provide application executable itself it won't work. Even if you want to update only 1 file in the application directory you need to Zip it or Create an installer for it.

[2017-10-23 08:17] KushFace opened #48 "Pass Parameter from old version to new version"
I saved my connectionString to a MySQL Database in app.config.
Settings.Default.Upgrade() only upgrades the UserSettings but not the connectionString.

So I think giving the connectionString as Parameter when Update from old to new version would be fine.
But as I can see, there is noo function to pass Parameters to new version.

I guess it will be a good improvement.

[2017-10-23 08:42] ravibpatel commented on #48
You can exclude app.config from Update file ( Installer or Zip ) so it won't overwrite the OLD file.

[2017-10-23 08:51] KushFace commented on #48
Ou thanks.

[2017-10-24 05:12] integral-llc opened #49 "Replace XML with an Interface to get needed info"
Using XML is good, but what if I have already a REST service that gives me JSON instead, even in a different format. Why not use an interface to be implemented by the application developer to query his server in the way he wants? That would create more flexibility.
In my case, I have control over the WinForms app, but not on the REST service, and there is no way the service to be changed. As such

[2017-10-24 05:58] integral-llc commented on #49
I have made the needed changes, but cannot push my branch to create a pull-request. Would you please allow me?
Thx

[2017-10-24 06:01] ravibpatel commented on #49
Just open a Fork the project to your account then you can open the pull request.

[2017-10-26 06:43] #48 closed

[2017-11-03 08:59] #49 closed

[2017-11-04 15:46] gmichaud commented on #37
Was this reverted? I just implemented something similar on my end to be able to properly close Microsoft Excel when my add-in calls the auto-updater. I need to marshal the event back to the main Excel thread, but it works fine for my use case:

[code]

[2017-11-04 15:51] gmichaud commented on #35
I spent part of last night trying to find a solution to this problem and found a relatively simple fix - all hardcoded font sizes should be changed from pixels to points in the .resx files. The scaling works properly afterwards. I did it in this commit: https://github.com/gmichaud/AutoUpdater.NET/commit/e90d7a48a2b42bdfe719a3cd7e972e6416b5eb72

There are a few other issues; one is with the icons u

[2017-11-04 15:58] gmichaud opened #51 "UseLatestIE exception when used from unmanaged process"
I am using AutoUpdater.NET from a Microsoft Excel add-in and the UseLatestIE function is throwing an exception because Assembly.GetEntryAssembly() is returning NULL. This behaviour is described on MSDN: https://msdn.microsoft.com/en-us/library/system.reflection.assembly.getentryassembly

P.S. overriding this registry key by default might not be a good idea; it could interfere with applications tha

[2017-11-04 15:59] gmichaud commented on #51
Sample fix https://github.com/gmichaud/AutoUpdater.NET/commit/3f37a9c0d210a3925b1e32f48bef6741573984f0

[2017-11-05 04:58] ravibpatel commented on #37
@gmichaud Recently I found a way to execute Exit code in caller thread. It was reverted before but I can add it again.

[2017-11-05 05:06] ravibpatel commented on #51
@gmichaud Are you providing the assembly in Start method?

[2017-11-06 13:37] gmichaud commented on #51
I am passing ``System.Reflection.Assembly.GetExecutingAssembly()`` to the Start method -- that would be the path to the Excel add-in, and not an actual .exe file. Changing UseLatestIE to use the assembly passed to Start would fix the crash, but system would still create a (useless in this case) registry entry.

[2017-11-06 13:42] gmichaud commented on #37
I think that having an event for AutoUpdater clients is a better approach - for my Microsoft add-in I really want to call Excel's Application.Quit() function. From the event the client can take care of marshalling it to the right thread. I think it's cleaner than to try to kill the process.

[2017-11-07 12:39] ravibpatel commented on #37
Yeah, You are right I will add it back.

[2017-11-07 18:07] muccix opened #52 "Silent update"
Is it possible to perform a silent update, without the need for user interaction?

Typically that is feasible using a batch file with the following command:

msiexec /i file.msi /q

Many thanks

[2017-11-08 19:26] methc opened #53 "Downloads but doesn't install"
Hi Guys,

I have an issue where it detects the new update, downloads and closes the main app/program but after the download the old app just reopens again. The new version never gets installed.

[2017-11-08 19:36] methc commented on #53
Additional info:

I did some more digging. In the %temp% folder I can see the update.zip file and ZipExtractor.

I tried running ZipExtractor by double clicking it. It runs and get's stuck at the extracting... screen. Progress bar is empty. Nothing happens after this. Upon trying to close ZipExtractor by clicking the X button at the top of the window I get;

"Unhandled exception has occurred in yo

[2017-11-09 05:06] ravibpatel commented on #52
@muccix You need to edit the source code DownloadUpdateDialog.cs to make this possible. Just change the processStartInfo variable at line 68 as shown in the following link.

[https://stackoverflow.com/questions/25738066/how-to-run-msi-installer-in-cmd-as-admin-using-c-sharp](how-to-run-msi-installer-in-cmd-as-admin-using-c-sharp)

[2017-11-09 05:07] ravibpatel commented on #53
@methc You can't run the ZipExtractor directly from temporary it requires arguments to work properly. Can you provide me with the URL of your XML file?

[2017-11-09 06:19] #37 closed

[2017-11-09 06:50] ravibpatel commented on #51
Can you open a pull request with this change?

[2017-11-09 07:19] #35 closed

[2017-11-09 09:54] muccix commented on #52
Ok, thanks,

One question: from a practical point of view, putting in the zip files all the files changed from the previous version is equivalent to install a new version via a .msi file?

Many thanks

[2017-11-09 09:55] methc commented on #53
I'm using a UNC as the URL to the update.zip file.

The unc I'm using is:-
"\\server01\software\autoupdate\update.zip"

Thanks for the reply.

[2017-11-09 09:56] ravibpatel commented on #52
@muccix Yes, It is the same thing unless your new version installer requires registry changes or some special thing that can only be done using an installer.

[2017-11-09 10:00] ravibpatel commented on #53
@methc You said your update.zip was in temp folder after download completed that means it can access and download the file but maybe it was corrupted or incompatible. Try using a different application to zip files. I use 7Zip to zip them.

[2017-11-09 10:10] methc commented on #53
Well I thought it was perhaps corrupt but I ruled that out by going into temp and opening the zip manually and double clicking the file the setup file, which extracted file and started the installation. Installation went through fine.

As for incompatibility, it's possible... I used winrar with the zip option to create the archive. I'll try your suggestion and try 7zip.

[2017-11-09 10:11] ravibpatel commented on #53
@methc Are you zipping the installer file?

[2017-11-09 10:38] methc commented on #53
Yes, I zipped up the two setup files.

[2017-11-09 10:50] ravibpatel commented on #53
@methc No, You can't do that. You need to provide update.zip with all the updated files of the application or provide a setup file URL directly in the XML file.

[2017-11-09 11:10] methc commented on #53
Ahhhh. I see. I read all the documentation, don't think I came across that bit. Thanks for clarifying for me.

Question: if I zip up the actual software files. After the update, will add/remove control panel update the version number of the app? I'm pretty sure it wouldn't.

Anyway, heading to work now. Will try your solution in a bit.

[2017-11-09 11:16] ravibpatel commented on #53
No, It won't show new version number in the control panel. That's why I prefer to use Installer instead of zip file.

[2017-11-09 12:19] methc commented on #53
It's all sorted now, thanks to you for helping me see where I was erring.

Only problem I have no (which is totally unrelated to your autoupdate CL) is the installer just gave me two options - 1) repair installation 2) remove.
I chose remove, all the installer did was remove the software. It didn't try to reinstall.

Like I said... totally unrelated to your project.

Great work on the auto-updater

[2017-11-09 13:37] gmichaud commented on #37
Thanks!

[2017-11-09 13:37] gmichaud commented on #51
Yes I will

[2017-11-09 19:08] roscofil commented on #53
Hello there,
Am in the same situation as methc described...Didn't realize that zipextractor doesn't work with msi and setup.exe files.
Pardon my ignorance, being somewhat a newbie in this autoupdate process, but I do have a question:
my project contains many subdirectories with html help files and such...
Does this mean that I have to create one <item> tag for each file that gets modified?
If yes,

[2017-11-09 19:33] methc commented on #53
@roscofil - The ZipExtractor extracts your programs files and places it in the target directory (original location where your software is installed). I haven't yet tested this method as I much prefer to do the installer method.

my project contains many subdirectories with html help files and such...

There are two approach to this.
1) You can actually use VB .NET or some other 3rd party setup/ins

[2017-11-09 20:11] roscofil commented on #53
@methc : Thanks for your fast comment and sorry to post in a post but I figured that, since it was almost exactly the same issue it was useless to create a duplicate.

This said, I must say that my project is written in VB.NET and that I use the VS2017 installer stuff( .msi and setup.exe)
I first tried to zip these 2 files and add the zipfile to the xml update file (option 1). This did exactly wha

[2017-11-09 21:46] methc commented on #53
@roscofil

You don't need to zip the installer. Just update the path tag to reflect the location of the installer (.exe)

[2017-11-10 05:35] ravibpatel commented on #53
@roscofil Between URL tag of the XML file you need to provide the URL of your installer file (.exe or .msi).

[2017-11-10 14:46] roscofil commented on #53
OK...Thanks to both of you!
I got it to download and extract ok creating a single file installer combining both the msi and setup.exe with WinRar SFX.
This way, I just indicated the single exe name in the xml tag and it works.
Again, thanks to ravibpatel for bringing this great tool!

Cheers

Philippe

[2017-11-10 14:49] methc commented on #53
Glad you got it working, it's a great tool instead. Many thanks to @ravibpatel

[2017-11-10 14:49] gmichaud commented on #35
The solution does not appear to work for me. SetFont gets called *after* Windows Forms applies its scaling logic, and since fonts in the forms are already defined in pixels instead of points, they get scaled down: https://imgur.com/a/1jwZm

[2017-11-10 18:20] #51 closed

[2017-11-11 05:33] #53 closed

[2017-11-11 07:30] #52 closed

[2017-11-11 09:36] ravibpatel commented on #35
Adding the following to Manifest file also make forms inside the library DPI-aware.

[code]

[2017-11-11 13:51] gmichaud commented on #35
Did you see any impact of adding this manifest? This is initially what I tried doing (to completely turn off scaling) but it had no effect -- seems like it is controlled at process level and Excel is already doing it for us.

[2017-11-11 15:39] ravibpatel commented on #35
Yes, It works wonders. Fonts look sharper like it works in WPF. See [before](https://imgur.com/gB3XWEX) and [after](https://imgur.com/X78f4Ab) images.

[2017-11-11 17:59] gmichaud commented on #35
Where did you put the manifest? At .exe level or inside the library itself? I’m using AutoUpdater as part of an Excel add-in, and Excel itself is already configured for high DPI - this is what was causing the scaling issues in the first place for me.

[2017-11-11 18:23] ravibpatel commented on #35
@gmichaud At .exe level. In the AutoUpdaterTest project.

[2017-11-12 06:32] ravibpatel commented on #35
@gmichaud Can you try the latest commit. I added new option SetProcessDPIAwareness. Can you try it for both possibilities (true and false)? To make sure how scaling behaves for Excel add-in. For WPF this works automatically and if you are using Winforms manifest way is the best thing to do.

[2017-11-13 10:11] SnailDev opened #56 "UpdateInfoEventArgs don't have Mandatory property in nuget 1.4.3"

[2017-11-13 10:13] ravibpatel commented on #56
@SnailDev Yes, that is correct. I didn't upload new package. I will soon.

[2017-11-13 10:14] SnailDev commented on #56
ok

[2017-11-16 08:09] ravibpatel commented on #56
@SnailDev Updated NuGet package to the latest version.

[2017-11-16 08:09] #56 closed

[2017-11-20 10:08] leluc42 opened #57 "Check update on Startup"
Hi,
i try to use this updater on startup.
But it doesn't work. The parent applicatio is starting and the downloadwindow ist closing.
Am i able to use this updater on startup of my application!?

[2017-11-20 12:03] methc commented on #57
I call the AutoUpdater from a button but yea, I dont see any reason why you can't call it on form load.

Did you follow the guide on the mainpage?

Perhaps you can tell us what you did in details so we can have more info in order to assist you.

[2017-11-23 01:43] gmichaud commented on #35
Sorry for the delay. I haven't tried to play with SetProcessDPIAwareness yet but I've had reports of issues causing the buttons at the bottom of the Update form to be hidden: https://imgur.com/a/XJpaS - I was able to reproduce this by setting my local resolution to 1024x768, 100% font size.

There appears to be some interaction with Visual Studio and what's the local resolution when the form is ed

[2017-11-27 12:44] tip2tail opened #59 "Update can be skipped when skip button hidden"
Users can skip an update when the skip button is hidden by closing the window with the X control box.

I have fixed this in my fork and will push a pr shortly.

[2017-11-27 13:09] tip2tail commented on #12
Hi

I have submitted PR #60  for this.

Thanks,
Mark

[2017-11-27 22:40] tip2tail commented on #59
will revisit

[2017-11-27 22:40] #59 closed

[2017-11-29 20:20] tip2tail commented on #12
Hi,

Thanks for merging #60. When do you plan to do a new release via nuget?

Mark

[2017-11-30 05:14] ravibpatel commented on #12
@tip2tail Not soon I will refine this feature before Nuget release.

[2017-12-04 12:32] Grisu74 opened #62 "Code Error?"
Hello.

I have an Error in AutoUpdater.cs.

`if (runWorkerCompletedEventArgs.Result is DateTime remindLaterTime)
                {
                    SetTimer(remindLaterTime);
                }
                else`

Visual Studio makes a Error. Required ) or {

Please Help for the Problem.

Thanks

[2017-12-04 13:23] ravibpatel commented on #62
@Grisu74 Which Visual Studio version you are using?

[2017-12-04 13:53] Grisu74 commented on #62
Visual Studio 2015

[2017-12-04 13:57] ravibpatel commented on #62
@Grisu74 You need Visual Studio 2017 to make it work. You can also replace it with the following and it should work on Visual Studio 2015.

[code]

[2017-12-06 09:16] ravibpatel commented on #12
Released new version 1.4.5 with this feature.

[2017-12-06 09:16] #12 closed

[2017-12-07 22:57] serdam55 opened #63 "Caching problem"
I just saw a strange bug, in particular when I do this:

     AutoUpdater.Start("some url");

the application doesn't detect the update version, yesterday all was working good. So I just tried to add:

     AutoUpdater.Start("some url?" + Guid.NewGuid());

and the update is now available again, so I guess this is a cache issue, not?

[2017-12-08 05:21] ravibpatel commented on #63
@serdam55  I set HttpRequestCachePolicy to NoCacheNoStore, So I think it is not a caching issue. Can you try to disable caching for XML file in your .htaccess file?

[2017-12-08 12:18] serdam55 commented on #63
@ravibpatel hi, thanks for the answer, unfortunately I'm not expert on .htaccess, which content should I write inside this file? Thanks.

[2017-12-09 10:07] serdam55 commented on #63
@ravibpatel  Ok I found the bug, essentially in the property of my application the current versioni is: 0.0.0.1 and the .xml on the server have this version: 0.0.0.2, in this situation the updater doesn't working.
If instead I change the version of my application to 1.0.0.0 and set the .xml to 2.0.0.0 this working.
Any fix?

[2017-12-09 10:16] ravibpatel commented on #63
@serdam55 I will test it on my end and let you know.

[2017-12-09 10:43] serdam55 commented on #63
@ravibpatel  thanks, I don't know if this is correlated but I fix the situation by changing the assembly version manually in the assemblyinfo.cs file, no idea why now working

[2017-12-09 12:57] datelligence opened #64 "UAC exception management"
Hi @ravibpatel,  is there a way to manage exception when windows UAC prompts for elevated privileges but user cancels,  say no password entered?

Thanks.

[2017-12-09 14:56] ravibpatel commented on #64
@datelligence As you can see [here](https://github.com/ravibpatel/AutoUpdater.NET/blob/master/AutoUpdater.NET/DownloadUpdateDialog.cs#L84-L92). I wrapped Process.Start call in try catch block. So there shouldn't be a problem if user press No.

[2017-12-09 17:57] serdam55 commented on #63
@ravibpatel I found the same problem on the changelog, so I guess there is some cache issue, could you please try to generate a GUID in the url?

[2017-12-09 19:20] datelligence commented on #64
Thanks Ravi,  actually my app stalls when UAC is prompted and user clicks No,  instead of inserting elevated password.

[2017-12-10 15:06] ravibpatel commented on #63
@serdam55 You can add code from [here](https://stackoverflow.com/a/11724596/1273550) to your .htaccess file to prevent caching.

[2017-12-10 15:33] ravibpatel commented on #64
@datelligence Does it raises any exception?

[2017-12-11 23:16] datelligence commented on #64
@ravibpatel not it does not,  this is the scenario: a new update is available,  user accepts,  exe is downloaded,  opnened,  then UAC prompts,  if the user,  being a standar user with no admin privileges,  click No on UAC prompt,  the screen goes black and nothing happnes,  so the device must be restarted.

[2017-12-12 05:21] ravibpatel commented on #64
@datelligence If user press Yes it works fine?

[2017-12-13 16:40] jenokizm opened #65 "How to force the update window after a skip"
For example, if the user first pressed to skip, and then still changed his mind and clicked again in the menu to call the update window, how to make it appear?

[2017-12-14 05:06] ravibpatel commented on #65
You can add the Mandatory tag in XML and set it to true. It will ignore skip settings.

[2017-12-14 05:13] jenokizm commented on #65
No, this is not the right decision. Read again the situation I described above. It's about choosing a user, if he presses again to check the update, then at will it will not be shown. You need to provide this in the code!

[2017-12-14 05:18] ravibpatel commented on #65
If you are using the button then it is not a good idea to show skip button. Skip and Remind Later options only makes sense when you are checking for an update at application start. Why user click the button to update the application and then press Skip or Remind Later? If you are checking for an update at application start and in the button event then I think I can make mandatory public that way y

[2017-12-14 05:40] jenokizm commented on #65
My English is bad to understand everything. But I check for updates every time I start. Sometimes the user can click to skip over the stupidity and then want to call the update on the help button - spoil the update but nothing happens!

[2017-12-14 05:51] ravibpatel commented on #65
@jenokizm I can expose the Mandatory property that way you can set it true for help button and it will ignore the skip option.

[2017-12-14 07:01] jenokizm commented on #65
ok, come on

[2017-12-14 07:35] 0755SIR opened #66 "Windows10 Do not display update button"
Windows10 do not display update button.

[2017-12-14 07:37] ravibpatel commented on #66
I also use Windows 10 and it works fine for me. Can you tell me your resolution and screen scale settings?

[2017-12-14 07:47] 0755SIR commented on #66
1366 x 768, and I use a notebook computer.

[2017-12-14 08:22] jenokizm commented on #25
I have a website on https letsencrypt and everything works

[2017-12-14 16:21] ravibpatel commented on #66
@0755SIR Are you using this library for WinForms project or WPF project?

[2017-12-16 06:04] ravibpatel commented on #65
Exposed Mandatory in latest commit.

[2017-12-16 17:02] Ninjin89 commented on #66
Some of my user's got the same problem so they don't have an Update button mostly this is coming from portuguese users and using it for WinForms project.

[2017-12-17 06:00] #65 closed

[2017-12-17 06:02] ravibpatel commented on #66
I updated the library to solve this issue in [latest commit](https://github.com/ravibpatel/AutoUpdater.NET/commit/f46eb2576acb05005d5d725d9c8245711580041e).

[2017-12-19 03:45] jo15765 opened #67 "Auto-Updater Does Not OverWrite File"
From within Visual Studio I ran the command Install-Package Autoupdater.NET.Official and have added a reference to AutoUpdate.Net.dll

When I run my win form by using the command AutoUpdater.Start("http://testhelptest/AutoUpdater.xml"); i get a pop-up display informing me there is a new version.  I click Update and the new version begins to download, is succesfully downloaded and the current versi

[2017-12-19 13:20] ravibpatel commented on #66
@0755SIR @Ninjin89 Did latest commit fixed problems you had?

[2017-12-19 15:53] jenokizm commented on #65
hello I was on vacation. Today I tested the new version and I did not succeed
`AutoUpdater.Mandatory = true;
            AutoUpdater.Start("https://gri-software.com/AutoUpdaterTest.xml");`

error

[2017-12-19 16:07] ravibpatel commented on #65
I still didn't provide NuGet release with that feature. You can download AutoUpdater.NET with this feature from [here](https://www.dropbox.com/s/xg2543cmlcff04a/AutoUpdater.NET.zip?dl=0).

[2017-12-19 16:25] jenokizm commented on #65
Thanks, it really works. I'm glad that you made this useful function. I will wait for the appearance in nuget

[2017-12-20 05:38] Ninjin89 commented on #66
@ravibpatel yep seems like its fixed :)

[2017-12-20 13:57] jo15765 commented on #67
Please disregard.  This was user error, as I was uploading a .exe and not a .zip

If I uploaded a .zip file the syntax would auto-extract and over write just as it is supposed to.

[2017-12-20 18:07] #67 closed

[2017-12-21 06:53] chenpengli commented on #67
mute the thread
<https://github.com/notifications/unsubscribe-auth/AX11E1rK7M0hr50Xh8HIvKt3H7Dt3lEhks5tCUz_gaJpZM4RGZ1H>

[2017-12-21 07:28] #62 closed

[2017-12-21 16:10] #25 closed

[2017-12-21 19:14] Wismat opened #68 "Polish translation issue"
Great library, works perfect, but I noticed that the translation for Polish language has three little mistakes. User can already understand the sense of sentences but it seems odd (as if some translatator has done it) and not natural. As these prompt is usually displayed just a moment after opening an application, it would be great if you could correct it!

In a file UpdateForm.pl.resx:
line 121 -

[2017-12-22 05:04] ravibpatel commented on #68
@Wismat I will do it asap. Thanks for the correct translation.

[2017-12-24 06:37] #68 closed

[2017-12-24 08:18] ravibpatel commented on #66
Update NuGet package with this change

[2017-12-24 08:18] #66 closed

[2017-12-24 08:19] ravibpatel commented on #65
@jenokizm Updated NuGet package with this change.

[2017-12-26 03:26] pondkub opened #69 "download error: Illegal characters in path."
Could you please try using dropbox url?
I got an error "**Illegal characters in path.**"
here is a stack trace :

   at System.IO.Path.CheckInvalidPathChars(String path, Boolean checkAdditional)
   at System.IO.Path.Combine(String path1, String path2)
   at AutoUpdaterDotNET.DownloadUpdateDialog.DownloadUpdateDialogLoad(Object sender, EventArgs e)
   at System.Windows.Forms.Form.OnLoad(EventArgs e

[2017-12-26 08:34] #69 closed

[2017-12-26 08:45] ravibpatel commented on #69
@pondkub You can download the latest build from [here](https://www.dropbox.com/s/rgze0gsijk6q199/AutoUpdater.NET.zip?dl=0).

[2017-12-26 09:22] pondkub commented on #69
many thanks for a quick response. I tested it already and it works flawlessly.
happy new year!

[2017-12-26 12:52] ravibpatel commented on #69
@pondkub Great. Happy new year to you too!

[2017-12-26 21:57] Guigass opened #70 "Administrator rights"
Is there any way to let the user(non-administrator) to update?

[2017-12-27 05:53] ravibpatel commented on #70
@Guigass Duplicate of issue #42. I will provide support to enable non-admin updates in the future but right now you can do as mentioned in issue #42.

[2017-12-29 05:14] #70 closed

[2017-12-29 20:28] wwallace commented on #21
@ravibpatel I can provide a PR for this today. Would that be helpful? If so, you can assign this to me.

Also,  I think the signing of the XML file is overkill and not needed for this feature to be completed.

[2017-12-30 05:00] ravibpatel commented on #21
@wwallace I don't see your name in Assignees. You can still open the pull request. I will mention the issue in the commit. Also, I think CompareChecksum boolean variable is not needed. If developer won't provide checksum in XML file then it means they don't want to check for integrity of the downloaded file.

[2017-12-30 16:05] erfan132 opened #71 "dont update"
while i genrate update for my users
but isnt update
i change xml version but not work

[2017-12-30 18:40] ravibpatel commented on #71
@erfan132 Are your application Assembly version is lower than version mentioned in XML?

[2017-12-30 19:14] erfan132 commented on #71
no

[2017-12-31 07:59] erfan132 commented on #71
where is problem my host is ok but updater dosent respond

[2017-12-31 11:56] erfan132 commented on #71
and my xml is
http://cheatbanned.ml/Updates/AutoUpdater.xml

[2017-12-31 17:02] ravibpatel commented on #71
@erfan132 I tried your XML file with version 1.1.0.0 and it works fine for me. The application you are testing from must have a version less than 1.1.0.0 to make it work. Also, make sure your application is allowed internet access. Try turning off the firewall.

[2018-01-01 07:42] erfan132 commented on #71
my firewall is off and my assembly version fine
but dosent work for all users

[2018-01-01 18:20] erfan132 commented on #71
maybe for catch??
im use 1.4.4 autoupdate.net

[2018-01-03 03:28] wwallace commented on #21
@ravibpatel I removed the boolean and created the PR. Thanks

[2018-01-05 05:35] ravibpatel commented on #71
@erfan132 Sorry for a late response. I can't reproduce the issue on my end. Technically, If XML URL you provided works in my application then it should work in your application too. If some of the users have this problem then it means the application has trouble getting to the XML file from the internet.

[2018-01-09 04:04] MarkSummerville opened #73 "Auto Update based on GitHub Releases Page"
Hi,

Project looks great, we'd really like to use it on [TV Rename](http://www.tvrename.com) but what would make it even better is to use a link like `https://github.com/ravibpatel/AutoUpdater.NET/releases/latest` rather than the XML file.

Is this a feature you'd be interested in adding?

Cheers

[2018-01-09 04:43] MarkSummerville commented on #73
Basically you'd have to recreate the XML file from the information on that `releases/latest` page - probably by scraping the content:

Seems like you could get:
 * version
 * url
 * changelog

From `https://github.com/ravibpatel/AutoUpdater.NET/releases/latest`

[code]

[2018-01-09 11:27] ravibpatel commented on #73
@MarkSummerville Use it as shown below and it should work with GitHub releases. You need to add [Html Agility Pack NuGet Package](https://www.nuget.org/packages/HtmlAgilityPack/) for this to work.

[code]

[2018-01-09 16:44] MarkSummerville commented on #73
Thanks so much for getting back to me - looks good

[2018-01-09 16:44] #73 closed

[2018-01-09 20:50] felixsevero opened #74 "Protect my zip file"
Hi, I would like to protect my zip file with a password, to prevent anyone who has the link to my zip file to download and use my app. Would it be possible?
See ya!

[2018-01-10 14:18] leluc42 opened #75 "Virus Warning"
Hi,
i was scanning my application with virustotal.
There is a result, that the AutoUpdater.NET.dll is an trojan. This is the file from the nuget package.
[https://www.virustotal.com/#/file/ba16eb64e86e0e13f7a5067abe118e7022051217765b15cbe0b7d92b3d87e1dc/detection](url)

Is this a known behavior?

[2018-01-10 14:29] leluc42 commented on #75
I've loaded the actual package. There is no trojan warning

[2018-01-10 14:29] #75 closed

[2018-01-11 05:36] hoffarthaustin opened #76 "Error"
I followed your steps, it all worked good the first time with your example xml link on the button click. But now i click the button the second time and nothing happens not even an error.

[2018-01-11 20:54] vjenne opened #77 "Download is triggered twice"
When autoupdater downloads the update file (zip file). The download is triggered twice. I made a php file which serves the zip file, and also tracks the download count.
The issue is that because the download is triggered twice, the tracker counts 2 downloads instead of 1.

[2018-01-12 05:22] ravibpatel commented on #74
@felixsevero Currently, It doesn't support password protected zip files.

[2018-01-12 05:24] ravibpatel commented on #77
@vjenne Can you provide me a link to your XML file?

[2018-01-12 05:25] ravibpatel commented on #76
@hoffarthaustin Did you used Remind Later or Skip options?

[2018-01-12 06:39] hoffarthaustin commented on #76
No i just clicked download, it prompted to rightclickenhancer.zip, i stopped debugger tried to run it again and nothing. happens

[2018-01-12 07:06] ravibpatel commented on #76
Set ReportErrors to true and check what error you get.

[2018-01-12 08:06] tower413 opened #78 "Running as a service user"
Hello

We use Windows 10 and the software can only be installed through a software store.
Alternatively, the installation may be performed by a specific service user who has admin rights.

My question is: Can I run the autoupdater as "other user"?

Thank you
Tower

[2018-01-12 12:20] felixsevero commented on #74
Hi, I think I can do something similar creating my installer to extract my files.
Thank you :)

[2018-01-12 16:55] ravibpatel commented on #78
@tower413 If you use Zip file as an update file it will by default extracted using admin rights. So It should ask for admin user password when it starts to update.

[2018-01-12 19:16] vjenne commented on #77
<?php
require_once("../alg.php");

$piwikTracker = getTracker();
$piwikTracker->doTrackPageView("AutoUpdaterCheckVersion");

$piwikTracker->setUrl('https://www.xxxxx.com/xxxx/download/autoupdater.php');

header('Content-type: text/xml');

//require("sql.php");

//connectMYSQL();

//$sql = "UPDATE counter SET number=number+1 WHERE name='versionXML'";
//$conn->query($sql) OR die("Error:");
//$conn->

[2018-01-13 05:20] ravibpatel commented on #77
@vjenne I can't troubleshoot using dummy URL. You need to provide the URL that you have trouble with. If you are uncomfortable providing it here then you can provide it [here](http://rbsoft.uservoice.com).

[2018-01-13 12:40] vjenne commented on #77
I'm sorry about that, I sent you the link. I hope you can track it down.
Thank you in advance

[2018-01-14 04:10] ravibpatel commented on #77
@vjenne I found the problem. It happens because there are 2 requests. One is for getting the name of the file from headers and other is for downloading the file itself. You are providing PHP script to download the file so it is necessary to get the name of the file using headers. You can fix this problem by hardcoding the file name in AutoUpdater.NET. Just change [this](https://github.com/ravibpat

[2018-01-14 12:26] vjenne commented on #77
Thank you for the explanation. I was hoping I could leave autoupdater as original as possible(also still dont know how github actually works, forks etc). So I tried hooking into the "CheckForUpdateEvent" event. But visual studio doesn't see this event. Only "CheckForUpdateEventHandler" exists.

[2018-01-15 06:29] vizyul opened #79 "Update Installation Routine Fails"
I'm using VS2015 and InstallSheild LE 2015.  I get the following error when I tried to update the application using AutoUpdater.NET.  I'm not sure whether the error is due to AutoUpdater.NET or InstallShield LE.  Please see the attached screenshot
[Update Error.pdf](https://github.com/ravibpatel/AutoUpdater.NET/files/1630588/Update.Error.pdf)

[2018-01-16 05:36] ravibpatel commented on #79
@vizyul This error happens because of InstallShield LE.

[2018-01-16 05:36] #79 closed

[2018-01-16 09:21] #44 closed

[2018-01-16 09:22] #24 closed

[2018-01-16 09:23] #57 closed

[2018-01-16 13:02] rokshill opened #80 "Error while handling JSON format"
Hi,

for JSON config example as below, AutoUpdater is not working properly (because of missing args.InstallerArgs):

`{
  "version": "1.0.1.2",
  "url": "http://localhost/appUpdate/1.0.1.2/appName.msi"
}`

BTW Good tool, good job.

[2018-01-16 14:07] ravibpatel commented on #80
You can just add args to json and read it using following code.

[code]

[2018-01-17 09:23] rokshill commented on #80
Thank you for your tip. I eventually used the XML format. However I think that it's still a bug if we have to pass `args` because they are optional. As the documentation inform that only the `Url` and `Version` are required. Another thing is that in above scenario with JSON format, library's user doesn't get any errors and AutoUpdater just doesn't work.

Best regards

[2018-01-17 10:28] #80 closed

[2018-01-17 10:30] ravibpatel commented on #80
@rokshill Yeah. You are right it was a bug. I fixed it in lates commit. You can download it [here](https://ci.appveyor.com/project/ravibpatel/autoupdater-net/build/artifacts).

[2018-01-17 10:33] rokshill commented on #80
Cool. Thanks & good luck !

Pozdrawiam
-=-=-=-=-=-=-=-=-=-=-=-=-=-
Jan Mucha
*T* 697 912 864
*E* rokshill@gmail.com

On Wed, Jan 17, 2018 at 11:30 AM, Ravi Patel <notifications@github.com>
wrote:

[2018-01-23 09:59] woollensocks commented on #74
+1

[2018-01-23 18:25] mashles opened #81 "Feature Request: Ability to specify where to store ZipExtractor.exe"
Right now it seems ZipExtractor.exe is always saved to the temp folder, but I have run into environments where this gets blocked by policies. Can you add the option of specifying a specific location where ZipExtractor.exe is saved (e.g. I want to use Environment.CurrentDirectory).

[2018-01-24 10:43] edisudarma opened #82 "i get eror"
![screenshot_1](https://user-images.githubusercontent.com/35764561/35328191-1dbd143e-012e-11e8-9e21-5d9b8c4ea872.png)

[2018-01-24 12:11] ravibpatel commented on #81
@mashles I was thinking of the ability to define the path where the download is saved. That can be also used for ZipExtractor.

[2018-01-24 12:12] ravibpatel commented on #82
@ Are you using NuGet package?

[2018-01-24 12:12] edisudarma commented on #82
yes, use nuget package

[2018-01-24 12:13] edisudarma commented on #82
![image](https://user-images.githubusercontent.com/35764561/35331639-a05a9f04-013a-11e8-8cca-e1d540f30c40.png)

[2018-01-24 12:14] edisudarma commented on #82
yes i use nuget package
[image: Inline image 1]

On Wed, Jan 24, 2018 at 7:12 PM, Ravi Patel <notifications@github.com>
wrote:

[2018-01-24 12:16] ravibpatel commented on #82
Which .NET Framework version your project is using?

[2018-01-24 12:17] edisudarma commented on #82
i use 4.5.2

[2018-01-24 12:22] edisudarma commented on #82
i make video for this error
http://jmp.sh/agfPtBB

[2018-01-24 12:29] ravibpatel commented on #82
Can you share me compiled executable?

[2018-01-24 12:33] edisudarma commented on #82
this link download
http://jmp.sh/cxrzeEu

[2018-01-24 12:49] ravibpatel commented on #82
You are using AutoUpdater.NET wrong way. AutoUpdater.NET needs installer or zip file URL between url tag of the XML file. You are providing only updated executable. Just zip the updated executable and upload it to your server then provide that zip file URL in the XML file. It will download the zip file when your press Update button and extract it into your application directory.

[2018-01-24 12:49] #82 closed

[2018-01-24 13:13] edisudarma commented on #82
oke thanks

On Wed, Jan 24, 2018 at 7:49 PM, Ravi Patel <notifications@github.com>
wrote:

[2018-01-24 15:08] edisudarma commented on #82
sir, i try make installer, and nothing error
but after download, update file not running

[2018-01-24 16:06] ravibpatel commented on #82
Can you give URL of your XML file?

[2018-01-25 11:24] edisudarma commented on #82
<?xml version="1.0" encoding="utf-8"?>
<item>
<version>1.2.4.0</version>
<url>http://threesignal.net/autoupdate.exe</url>
<changelog>http://threesignal.net/releasenotes.html</changelog>
<mandatory>false</mandatory>
<checksum algorithm="MD5">Update file Checksum</checksum>
</item>

[2018-01-25 11:24] edisudarma commented on #82
http://threesignal.net/cekautoupdate.xml

[2018-01-25 12:24] ravibpatel commented on #82
@edisudarma Use following XML and it should work. You are providing an invalid checksum for the file.

[code]

[2018-01-25 12:35] edisudarma commented on #82
same sir, no update running

[2018-01-25 12:49] ravibpatel commented on #82
@edisudarma I tested it and it works fine. Try renaming the XML file on the server. It may be a caching issue.

[2018-01-25 13:02] edisudarma commented on #82
oke youre right, thanks very much

[2018-01-25 13:02] edisudarma commented on #82
best regards

[2018-02-01 09:23] m4rcelpl opened #83 "Lot of "garbage" in output directory"
Hi,
I really like this library but does it have to generate so many files/catalogs? (Catalog for each language and .pdb files.)
Please consider the idea of combining this into one (or two) file :)

**AutoUpdater.NET.dll
AutoUpdater.NET.xml**

[2018-02-01 10:59] ravibpatel commented on #83
You can remove language files you don't need from packages folder.

[2018-02-01 16:59] nayr006 opened #84 "Unzip setup executable and run"
Would it be possible to implement the ability to download a zipped setup executable and have it unzip and execute the setup file?

[2018-02-02 01:50] micro-bean opened #85 "How to ignore a file"
How does a file in the upgrade program need to be configured without upgrading and replacing?
Thanks

[2018-02-05 05:09] ravibpatel commented on #85
@micro-bean To control the upgrading process you need to use the installer. You should use zip file if you just want to replace old version files with new one.

[2018-02-05 05:18] ravibpatel commented on #84
@You need to modify ZipExtractor for that. After [this](https://github.com/ravibpatel/AutoUpdater.NET/blob/master/ZipExtractor/FormMain.cs#L68) line, you can execute installer using following lines.

[code]

[2018-02-06 09:13] SaviorXTanren opened #86 "Update UI takes a dependency on screen resolution height; won't show Update button if it's below a certain threshold"
Hey, so I have been trying to diagnose an issue some of the users of my app were seeing when attempting to use your pre-made Update UI. If their screen resolution was small enough, your UI would appear and look "fine" for the most part, but there would be no "Update" button at the bottom. I saw this myself when setting my resolution to something like 1366 x 768.

[2018-02-06 10:04] ravibpatel commented on #86
@SaviorXTanren Which version you are using?

[2018-02-06 10:52] #77 closed

[2018-02-06 10:52] #81 closed

[2018-02-06 11:05] ravibpatel commented on #77
@vjenne Fixed this issue in latest commit. You can download it [here](https://ci.appveyor.com/api/buildjobs/ak1b9gphr2biw0yc/artifacts/AutoUpdater.NET-1.4.7.9.zip).

[2018-02-06 11:05] ravibpatel commented on #81
@mashles Added this feature in latest commit. You can download it [here](https://ci.appveyor.com/api/buildjobs/ak1b9gphr2biw0yc/artifacts/AutoUpdater.NET-1.4.7.9.zip).

[2018-02-06 16:32] SaviorXTanren commented on #86
1.4.5

[2018-02-06 16:42] ravibpatel commented on #86
@SaviorXTanren Upgrade to the latest version. This issue was fixed in version 1.4.6

[2018-02-06 16:42] #86 closed

[2018-02-07 09:22] #84 closed

[2018-02-08 21:13] MinecraftGodTier commented on #76
@hoffarthaustin what happened to your repo, thought it was a good idea

[2018-02-09 22:32] MinecraftGodTier commented on #76
@hoffarthaustin did you see my repo i think we should work together on it and i have a lot of time on my hands if you want me to do more of the work so let me know if you are going to join join my discord https://discord.gg/ZETAr3

[2018-02-10 00:15] #76 closed

[2018-02-10 00:24] MinecraftGodTier commented on #76
@hoffarthaustin if you dont wanna work with me can you atleast upload your source code i would like to use it

[2018-02-16 18:42] #63 closed

[2018-02-16 18:43] serdam55 opened #87 "wpf solution"
there are any news about a wpf autoupdater interface?

[2018-02-17 04:53] ravibpatel commented on #87
@serdam55 Not soon but it will happen.

[2018-02-19 21:55] #87 closed

[2018-02-20 17:36] Fma965 opened #88 "NETFX 3.5, 4.5, 4.6 don't work, only NETFX 4.6.2 works"
---------------------------
Update Check Failed
---------------------------
There is a problem reaching update server. Please check your internet connection and try again later.
---------------------------
OK
---------------------------

It works fine on a fresh appliciations with this code

        private void Form1_Load(object sender, EventArgs e)
        {
            AutoUpdaterDotNET.AutoUpd

[2018-02-20 18:19] Fma965 commented on #88
nvm im pretty confident this is a tls1.2 issue as netfx 3.5 doesn't support anything above tls1.0 and ssl3

[2018-02-20 18:19] #88 closed

[2018-02-20 21:03] KoruNL opened #89 "Why is AutoUpdater.NET not implemented along the lines of MVVM?"
Today I have made a WPF application autoupdatable using AutoUpdater.NET. I was impressed with the ease of use.
But while I was implementing this functionality, I was wondering why AutoUpdater.NET is not developed along the lines of MVVM.
I am more than happy to contribute my bit, if you have MVVM plans with AutoUpdater.Net.

[2018-02-21 13:43] ravibpatel commented on #89
@KoruNL I developed this library a long time ago with very basic functionality. Now it has more features so I think it will benefit using MVVM. That way other developers can migrate the user interface part to any UI Framework. I think MVVM will be very useful for version 2.0 with WPF forms. You can open pull request if you like to contribute.

[2018-02-21 19:59] straypointer opened #90 "Feature request - add new 'ForceUpdateCheck' option."
I want to add a new option that will force an update check, ignoring (but not removing) any existing remind-later or skip options, but also not forcing the user to update (e.g. mandatory=true.) This can be useful in a Help->Check-For-Update menu option. (If 'remind later' was clicked earlier, an update check will not happen without a feature such as this.)

[2018-02-21 20:33] alexalok opened #93 "Updater closes installer if its name is the same as program's"
https://github.com/ravibpatel/AutoUpdater.NET/blob/7989cad1f42ce9a5a6c970b8ab604673512c8056/AutoUpdater.NET/AutoUpdater.cs#L499

Instead of relying just on process' name, we should consider checking path of each process we're about to close and make sure that it's equal to the current process' one.

[2018-02-22 06:34] ravibpatel commented on #93
@alexalok Great find. I will change it asap. Thanks for reporting. If you like to contribute this change you can open a pull request. I will accept it.

[2018-02-22 14:12] alexalok commented on #93
Hi, @ravibpatel,
there are 2 ways of checking another processe's image path in pure C# that are known to me:
`process.MainModule.FileName;`, and using WMI. The first one is much faster and is OS-independent, but if autoupdater is compiled as 32-bit, it won't be able to get paths of 64-bit processes. The WMI way, on the other hand, is more reliable, but would only work on Windows. I've implemented

[2018-02-24 04:58] ravibpatel commented on #93
AutoUpdater is compiled for Any CPU so there should be no problems with 32 bit and 64-bit processes.

[2018-02-24 05:01] ravibpatel commented on #90
@straypointer Mandatory field works same as ForceUpdateCheck so there is no need to introduce new option. Currently, the Mandatory field doesn't stop the running timer. I will do that and it will work as intended.

[2018-02-24 10:47] alexalok commented on #93
`AnyCPU` on all modern VS versions has a **prefer 32-bit** flag, which tells CLR to run assemblies in 32-bit mode even on 64-bit OSes.

[2018-02-24 11:36] alexalok commented on #90
As far as I understand, **mandatory** forces the update, meaning user won't be able to cancel it.

On the other hand, if user postpones or skips an update, he has no way to check it again - even if `AutoUpdater.Start` is called, for instance, via a "Check for updates" button, it will detect previously set postpone/skip and cancel.

From what I understand, **ForceUpdateCheck** basically suppresses

[2018-02-24 12:00] ravibpatel commented on #90
@alexalok No, You can postpone Mandatory update too. It doesn't force you to do it. You can close the update dialog. Mandatory does not work if there is running remind later timer which I will fix soon.

[2018-02-24 12:01] alexalok commented on #90
Okay, thanks for clarifying, @ravibpatel

[2018-02-24 14:17] ravibpatel commented on #93
@alexalok That code takes care of killing other instances of application. If host application is compiled with 64-bit then AutoUpdater.NET also runs in 64-bit. It means it can see other instances of current application.

[2018-02-24 15:16] alexalok commented on #93
Yeah, @ravibpatel, that's actually a good point.

Right now I see the algorithm like this:
1. If we cannot get target process' path bc of an arhitecture mismatch, it's safe to say we don't need to close it.
2. If we can get the path (i.e. arch is the same), we check the path and compare it to the one of our assembly. If they're not equal, we don't close the process.

[2018-02-24 16:28] ravibpatel commented on #93
@alexalok Yeah. You can open a pull request now.

[2018-02-25 22:08] straypointer commented on #90
Thanks for the response and information. I will try playing with the Mandatory option to see if it meets our needs- the word mandatory implied to me that there are no choices to skip updating.

I am also concerned that our user base, which is largely computer novices, may be confused if the only option is to close the update dialog with the 'X'. (Rather than a remind-later or close button.)

[2018-02-26 05:25] ravibpatel commented on #90
@straypointer, In that case, you can just show message box showing that there is an update. As shown [here](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually). You will have more control on UI this way.

[2018-02-26 05:28] #93 closed

[2018-02-26 15:06] k2s opened #96 "restart application after upgrade with same command line arguments"
starting my app with: `app.exe --keep`
upgrading with AutoUpdater.NET will restart my app without the `--keep` parameter

could you, please, keep the command line parameters ?

[2018-02-26 16:08] ravibpatel commented on #96
@k2s You can specify command line parameters using args element in XML.

<args>--keep</args>

[2018-02-26 16:19] k2s commented on #96
yes, I am using ZIP file
the command line options are based on users settings, so they are known only at runtime

[2018-02-27 11:56] serdam55 opened #97 "AutoUpdater does not read current culture"
I set the current culture for the whole program as:

     CultureInfo.CurrentCulture = CultureInfo.CreateSpecificCulture("en");

the autoupdater isn't full translate the string "update" is "aggiorna" which is italian language, for get the full updater translation I have used the:

    Thread.CurrentThread.CurrentCulture = Thread.CurrentThread.CurrentUICulture = CultureInfo.CreateSpecificCulture("e

[2018-02-27 16:32] #85 closed

[2018-02-27 16:39] ravibpatel commented on #97
@serdam55 AutoUpdater.NET uses current thread's culture so setting Thread.CurrentThread.CurrentCulture to something else will change the language of AutoUpdater.NET. CultureInfo.CurrentCulture is read only if you are using .NET Framework 4.5.2 or below, So setting it won't work.

[2018-02-28 20:24] #97 closed

[2018-02-28 20:35] serdam55 opened #99 "waiting for application exit stuck application"
I found similar issue on this repo, but I guess this bug isn't fixed at all. In particular if I call

     AutoUpdater.Start("some link");

from the MainWindow all working good, but I do this in that way:
inside the MainWindow I have this line of code:

    UpdaterHelper.CheckUpdate();

where UpdaterHelper is a static class which have this content:

    public class UpdaterHelper
    {
        pri

[2018-03-01 06:34] ravibpatel commented on #99
@serdam55 Why are you using async? To close the application successfully you need to be on the main thread. AutoUpdater.DownloadUpdate(); should be called on the main thread (UI thread).

[2018-03-01 10:47] serdam55 commented on #99
@ravibpatel thanks for reply, I need to use async because I'm using ShowMessageDialog provided by mahapp, which require to be async.

How can I manage this? I tried:

                            Application.Current.Dispatcher.Invoke(new Action(() =>
                            {
                                AutoUpdater.DownloadUpdate();
                            }));

but not seems to working

[2018-03-01 14:46] erfan132 opened #100 "change gui plz"
change it bro
using materialskin

[2018-03-01 15:04] serdam55 commented on #100
@erfan132 I have suggest to him in the past MaterialDesignInXaml, but I guess will be a very nice feature give to our user the possibility to customize the AutoUpdater interface easily

[2018-03-01 15:40] Gerardo-Sista commented on #83
I agree, great library but
you could embed resources into the main assembly leaving only **AutoUpdater.NET.dll** in output folder.

[2018-03-01 16:19] ravibpatel commented on #100
@erfan132 @serdam55  You can provide your own UI using CheckForUpdateEvent. I want to change UI to WPF but it won't happen soon.

[2018-03-01 16:24] ravibpatel commented on #83
@Gerardo-Sista I will use do it in next version.

[2018-03-01 16:27] ravibpatel commented on #99
@serdam55 You can try implementing application exit logic by yourself as shown [here](https://github.com/ravibpatel/AutoUpdater.NET#handling-application-exit-logic-manually). You can provide your custom update window using CheckForUpdateEvent.

[2018-03-01 16:39] Gerardo-Sista commented on #83
Please tell me how I can contribute to change Italian translation: it's really bad (I'm italian).

[2018-03-01 19:12] ravibpatel commented on #83
@Gerardo-Sista You can open a pull request with the fix and I will accept it. To open the pull request you need to fork the repo first.

[2018-03-01 21:28] serdam55 commented on #99
I tried the exit event and isn't firing, why?

[2018-03-01 21:44] KoruNL commented on #100
@erfan132 @serdam55 @ravibpatel In issue #89 I have asked a question about the use of MVVM in AutoUpdater.Net. Moving to MVVM would make it a lot easier to switch the UI to WPF, Xamarin or whatever may come along in the future. As stated by @ravibpatel MVVM (and WPF) would be a nice addition for version 2.0 of AutoUpdater.Net. I have offered help moving AutoUpdater.Net to MVVM.

[2018-03-01 21:48] KoruNL commented on #89
@ravibpatel Can you outline what you want implemented (and left behind) in version 2.0?

[2018-03-02 09:52] serdam55 commented on #100
@KoruNL could I ask you some question about mvvm logic? you can shot me an email at marioserdama@gmail.com

[2018-03-02 11:17] ravibpatel commented on #89
@KoruNL Just take the exciting code and reimplement it using MVVM.

[2018-03-02 11:55] KoruNL commented on #89
@ravibpatel The target framework for AutoUpdater.NET is .NET 4 now. Should this be the case for version 2.0 as well or can we move up a bit?

[2018-03-02 11:57] ravibpatel commented on #89
@KoruNL I prefer sticking to 4.0. Although it works on version .NET 2.0 too but for version 2.0 we can ditch .NET 2.0 support.

[2018-03-03 06:38] ravibpatel commented on #90
Fixed this issue in commit https://github.com/ravibpatel/AutoUpdater.NET/commit/aaf192ceeb639e4837d3c2dd023571ec18783065.

[2018-03-03 06:38] #90 closed

[2018-03-03 06:59] #96 closed

[2018-03-03 20:13] xbhuang1994 opened #101 "How do I update silently?"
I do not want users to click the Update button, but when the update is detected automatically update?

[2018-03-04 04:28] ravibpatel commented on #101
@xbhuang1994 You can use CheckForUpdateEvent as shown [here](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually). Just remove the message box asking for permission and it will update it automatically without asking.

[2018-03-05 08:33] KoruNL commented on #96
@ravibpatel I think, line 93 of FormMain.cs of ZipExtractor should have been changed to 'Process.Start(processStartInfo)'

[2018-03-05 08:36] KoruNL commented on #89
@ravibpatel So we keep using BackgroundWorker instead of moving to async await.

[2018-03-05 16:08] ravibpatel commented on #96
@KoruNL Missed that. I will fix it tomorrow.

[2018-03-05 16:11] ravibpatel commented on #89
@KoruNL I really like to move to async await but that will mean not supporting .net 4.0 which many developers still use.

[2018-03-10 18:19] shimon166 opened #102 "Update packages for different versions"
Hi, thanks for the maintenance and refactoring this package.
As i remember this package has the ability for several updates (items) in the same XML but i see now in code that it is not possible. How can i handle different update packages for same main version (like application with 32 and 64 bit)? and what about updates for differnent main versions? there is any workaround?
Thanks in advance

[2018-03-10 18:26] ravibpatel commented on #102
@shimon166  You can check for if the process is 32 bit or 64 bit and then you can use the XML URL according to it.

[2018-03-10 18:30] shimon166 commented on #102
Thanks, what about update for different main versions? create differnt XML for each version?

[2018-03-11 05:20] ravibpatel commented on #102
How you define different main versions?

[2018-03-13 10:09] AluminiumTech opened #103 "Add a GUI less version for .NET Core/Framework Console Applications."
Hi,
I'd like to suggest the addition of a GUI less version for .NET Core/.NET Framework console apps.

The interaction/starting updating would be through a console based UI instead of through the GUI.

With the improvements it still wouldn't be compatible with .NET Core but in the future it could be if other changes were also made which I'll detail elsewhere.

[2018-03-13 10:15] AluminiumTech opened #104 "Migrate to .NET Standard 2.0 to allow usage in .NET Core apps"
I'd like to suggest migrating the library to .NET Standard 2.0 .

This migration would mean that the GUI components would need to be separated from the code/programming logic so that the code could be used by .NET Core apps and the GUI library would reference the code responsible.

[2018-03-13 11:55] ravibpatel commented on #104
@AluminiumTech Great suggestion. Let me add this to version 2.0 milestone.

[2018-03-14 19:00] AluminiumTech commented on #89
I can't speak for others but .NET 4.0 is definitely out of circulation in my projects.

Any of my .NET Framework projects are either using .NET 4.6.1 or .NEET 4.7.1 . I think you can comfortably remove .NET 4.0 support for version 2.0 .

[2018-03-14 19:57] AluminiumTech commented on #104
@ravibpatel Are you ok with moving away from using the Windows Registry to a settings saving solution which is cross-platform?

Because it's a lot of effort (if even possible at all) to make .NET Standard 2.0 work with the Windows Registry.

The code just needs not to be platform specific (or we could try to do Registry stuff for Windows and other stuff for Other OSes).

[2018-03-15 20:37] algolee opened #107 "Support for json AppCastUrl not working"
The PaseUpdateInfoEvent is not firing and therefore I am unable to handle the parsing logic manually.

 AutoUpdater.Start("http://path/to/jsonfile.json");
 AutoUpdater.ParseUpdateInfoEvent += args =>
 {
    args.UpdateInfo = JsonConvert.DeserializeObject<UpdateInfoEventArgs>(args.RemoteData);
 };

[2018-03-16 05:10] ravibpatel commented on #107
@algolee Call Start method after attaching the event handler and it should work. I will fix the documentation.

[2018-03-17 11:44] KoruNL commented on #104
@ravibpatel Migration to .NET Standard 2.0 means targeting at least .NET 4.6.1. What about your "I prefer sticking to 4.0." comment in issue #89 from just a fortnight ago?

[2018-03-18 05:43] ravibpatel commented on #104
@KoruNL I still prefer sticking to .net 4.0 but we are just in brainstorming stage and open to ideas. Providing .NET Standard support means portability so we can create separate implementations for it.

[2018-03-19 09:45] #83 closed

[2018-03-19 13:38] KoruNL commented on #104
@ravibpatel If I may put in my two cents, then I would prefer migration of AutoUpdater.NET to .NET Standard 2.0 over .net 4.0 support. Especially in the light of moving AutoUpdater.NET itself to it's next version.

[2018-03-21 13:13] LaurenceXu commented on #64
@ravibpatel I test this issues.when UAC show message box "ZipExtractor.exe Is unknown source", If user press yes it works fine, otherwise autoupdater do nothing.
OS:windows 10
AutoUpdater.RunUpdateAsAdmin = true;

[2018-03-21 13:26] ravibpatel commented on #64
@LaurenceXu If your app doesn't need admin privileges to install then you can set AutoUpdater.RunUpdateAsAdmin to false. If you keep it true then it won't update application if the user doesn't press Yes on UAC dialog.

[2018-03-21 13:31] LaurenceXu commented on #64
@ravibpatel Your suggestion is right, it works.thk

[2018-03-21 14:11] jwillmer opened #113 "Can the updater handle url redirects?"
I like to setup a custom domain for my updater file in order to change the hosting path of the file if needed. Can the updater handle redirects?

`https://my-custom-domain.org/latest-app-version.zip` points to `https://some-server.org/latest-version.zip`

[2018-03-21 14:15] ravibpatel commented on #113
@jwillmer Yes, it handles redirects.

[2018-03-21 14:17] #113 closed

[2018-03-21 14:23] jwillmer opened #114 "Which version is used for comparison?"
Do I need to set the `AssemblyVersion` in order for the updater to compare to the latest version?

[2018-03-21 14:33] jwillmer commented on #114
https://github.com/ravibpatel/AutoUpdater.NET/blob/aaf192ceeb639e4837d3c2dd023571ec18783065/AutoUpdater.NET/AutoUpdater.cs#L295

[2018-03-21 14:33] #114 closed

[2018-03-21 14:33] jwillmer commented on #114
Maybe add this into the readme along with how to zip the update file (no sub folders)?

[2018-03-21 14:36] jwillmer opened #115 "ZipExtractor asks for permission"
Maybe it is possible to prevent this in order to have a better update experience?

[2018-03-21 16:19] ravibpatel commented on #115
@jwillmer Set AutoUpdater.RunUpdateAsAdmin to false and it won't show UAC dialog.

[2018-03-21 16:22] ravibpatel commented on #114
@jwillmer It will extract everything into the folder where your application executable resides. So you need to zip files according to that.

[2018-03-21 22:12] #115 closed

[2018-03-22 09:07] LZong-tw commented on #11
I tested AutoUpdater on Windows Embedded POSReady 2009 Version 2.0 SP3(could be seen as XP) with .NET 4.0, and the issue still exists. Although it could success after I tried clicking update button for a few times(maybe 3~5 times), it still can't be acceptable to use.
But when I added
[code]
inside the Main UI and after `AutoUpdater.Start(updateXMLpath);`, the problem seems to be solved pretty wel

[2018-03-22 13:33] jwillmer opened #116 "Logging system update"
I like to send a log message to my server when someone has updated his system. Which would be the preferred way to recognize this? Is it safe to amuse that if the `AutoUpdater.ApplicationExitEvent` is triggered that a new version is about to be installed?

Can I get current / latest version to post a message like: `user X has updated from version 1.0 to version 3.5`?

In your documentation it look

[2018-03-22 13:38] ravibpatel commented on #116
@jwillmer  Currently it doesn't pass version information in ApplicationExitEvent but it is a good idea to add it. I will implement it soon.

[2018-03-22 13:45] jwillmer commented on #116
I looked at your code and I found that you use the registry to store the update information. To solve this issue it would be great to implement an event that triggers as soon as an update was made.

You could store the information of starting an update in the registry and look on each start if on the last exit a update was processed. You could also add a update result flag like `sucessfull`, `erro

[2018-03-22 14:05] jwillmer opened #117 "Application exit event behaviour"
https://github.com/ravibpatel/AutoUpdater.NET/blob/aaf192ceeb639e4837d3c2dd023571ec18783065/AutoUpdater.NET/AutoUpdater.cs#L502

I think it is unusual that using the `AutoUpdater.ApplicationExitEvent` prevents the application from exit. WPF has a similar event that you can use to get notified about the exit of the application but it does not prevent closing the app - you can however prevent the cl

[2018-03-22 14:35] jwillmer commented on #116
Something like this function - returns `true` on first installation as well as on updated versions

[code]

[2018-03-22 18:39] serdam55 opened #118 "Encoding issue"
if I set in the changelog file a string like this: possibilità
I'll get a bad encoding with question mark, could you fix that?

[2018-03-22 21:19] victorct opened #119 "Admin rights causes crash of the app"
I have implemented the library, when I run my app in Debug mode everything works fine and it detects the new version and installs it, but when I'm in Release mode it crashes the app with the next error:

[code]

The error happens at this [line](https://github.com/ravibpatel/AutoUpdater.NET/blob/master/AutoUpdater.NET/UpdateForm.cs#L78)  when trying to get the process.

I have in my manifest the ex

[2018-03-23 23:23] HelderPinto79 opened #120 "Open the zip file but don't extract the files"
Hello,
I added the project AutoUpdater.NET to my soluction, and used the line autoupdater.Start(...) to update my application... the update starts, find that there is a new version, closes my application, download the zip file (my zip file contains only my updated dlls) and then it opens the zip file and show the dlls BUT it doesn't extract them to my application folder... just finish like that, w

[2018-03-24 06:29] ravibpatel commented on #119
@victorct  Still have this problem?

[2018-03-24 06:30] ravibpatel commented on #118
@serdam55  Do you mean in in web browser control Where changelog is displayed using provided URL?

[2018-03-24 06:32] ravibpatel commented on #117
@jwillmer I provided this event in case if someone has problems with exiting application they can do it them self-using this event. This way users can exit the application by themselves.

[2018-03-24 06:34] ravibpatel commented on #116
@jwillmer  This is more custom functionality and not everyone would be interested in it so I think it is better to leave this up to the user.

[2018-03-24 06:36] ravibpatel commented on #120
@HelderPinto79  This should not be happening which version of AutoUpdater.NET are you using?

[2018-03-24 08:53] HaTram commented on #120
Me to. Latest Version: 1.4.7

[2018-03-25 00:32] HelderPinto79 commented on #120
I'm using the latest version... 1.4.7

[2018-03-25 04:25] ravibpatel commented on #120
@HelderPinto79 @HaTram Can you give me your XML file url? I think it is a issue with file name. It can’t get correct extension from download url. If you can’t give it here you can also send it on [https://rbsoft.uservoice.com](https://rbsoft.uservoice.com).

[2018-03-25 10:34] serdam55 commented on #118
yes

[2018-03-26 03:41] HaTram commented on #120
![image](https://user-images.githubusercontent.com/37732915/37885937-2c7678ba-30e2-11e8-8875-075b8bde6953.png)

[2018-03-26 08:32] ravibpatel commented on #120
@HaTram  I can't debug using the image. Please provide real download URL. If you don't want to post it here and you can provide it [here](https://rbsoft.uservoice.com/).

[2018-03-26 08:43] HelderPinto79 commented on #120
Sure... you can use my xml file here :
http://www.dojocampos.com/app_update/versao.xml

`<?xml version="1.0" encoding="UTF-8"?>
<item>
    <version>1.0.1.0</version>
    <url>http://www.dojocampos.com/app_update/update.zip</url>
    <changelog>http://www.dojocampos.com/app_update/changelog.html</changelog>
    <mandatory>true</mandatory>
</item>`

[2018-03-26 09:47] HelderPinto79 commented on #120
Now i see i was using an older version from Codeplex...
Download now the solution from Github...
But i can't compile the solution... i've got these errors :

`Metadata file 'C:\Outros\AutoUpdater.NET-master\AutoUpdater.NET\bin\Debug\net20\AutoUpdater.NET.dll' could not be found	AutoUpdaterTest

Metadata file 'C:\Outros\AutoUpdater.NET-master\AutoUpdater.NET\bin\Debug\net20\AutoUpdater.NET.dll' cou

[2018-03-26 10:15] ravibpatel commented on #120
Uncheck "Sign the assembly" from signing tab in project's properties for both ZipExtractor and AutoUpdater.NET project.

[2018-03-26 10:17] ravibpatel commented on #120
@HelderPinto79  I tested it with your XML and it worked fine.

[2018-03-26 10:24] HelderPinto79 commented on #120
@ravibpatel It's working fine now... many thanks... sorry, i'm a little nooby...

[2018-03-26 13:33] #120 closed

[2018-03-26 13:34] HelderPinto79 commented on #120
Issue closed. Thanks for the help.

[2018-03-26 14:15] serdam55 commented on #118
nope. I mean when the window with release notes is displayed. There is a bad encoding on it

[2018-03-26 16:07] ravibpatel commented on #118
@serdam55 Can you give me your XML file URL?

[2018-03-26 16:08] ravibpatel commented on #120
@HelderPinto79 You are welcome.

[2018-03-27 00:50] Jafesu opened #121 "Current Version"
Can you Expose Current Version?

[2018-03-27 05:18] ravibpatel commented on #121
@Jafesu Why you need it to be public? You can get current version easily from your application like [this](https://stackoverflow.com/questions/36351866/how-to-get-application-version). Also, it will be not be assigned any value until Start method runs.

[2018-03-27 11:53] Jafesu commented on #121
@ravibpatel my end goal, is when my application first starts it run the check, if the user chooses to skip I have a label that flashes reminding of an update, I want to be able to compare my application version with what autoupdater gets from the xml, I just don't want to have to setup full xnl parsing since auto updater already does that

[2018-03-27 17:30] victorct commented on #119
@ravibpatel  Yep.

[2018-03-28 07:57] ravibpatel commented on #121
@Jafesu You can handle CheckForUpdateEvent and get all info you need. You can do it as shown [here](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually).

[2018-03-28 15:50] sajjadjaved01 opened #122 "Enhancement: Show total size of update on download window"
Show total size of update on download window or Downloaded percent.

[2018-04-03 14:29] HelderPinto79 commented on #122
This option would be awsome...
Would be good to the user estimate the time that would take to download the update...

[2018-04-04 10:12] Abousamah opened #123 "Support Arabic Language Culture"
We Hope to support  User interface  culture for Arabic language

[2018-04-04 10:40] ravibpatel commented on #123
@Abousamah You can open a pull request with arabic culture files and I will accept it.

[2018-04-05 08:08] stardance opened #124 "Download From FTP"
It seems the xml file and the update file are download from public network.
Can there be a way of downoad file  from FTP?

[2018-04-05 14:52] SoulsReborn opened #125 "Can i wait for the application to check the version ?"
For example an if statement, if there is no new version then just open the application.
else If there is a new version, then stop opening the application and stay on the window i desire it to stay.

i added the code and everything works fine . but the application fully starts up and then it opens the window of  'hey there's a new update' if there is an update i want to tell the application to not

[2018-04-05 15:02] SoulsReborn commented on #125
Nevermind found the answer .. just had to use the custom AutoUpdaterOnCheckForUpdateEvent(UpdateInfoEventArgs args) event

[2018-04-05 15:03] #125 closed

[2018-04-05 16:30] ravibpatel commented on #124
@stardance You can handle [CheckForUpdateEvent](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually) and download the update using following code.

[https://stackoverflow.com/questions/12519290/downloading-files-using-ftpwebrequest](https://stackoverflow.com/questions/12519290/downloading-files-using-ftpwebrequest)

[2018-04-05 16:36] ravibpatel commented on #119
@victorct I can't reproduce the issue. Do you get this error on other PC's too?

[2018-04-09 01:47] stardance commented on #124
@ravibpatel Roger that : )Thanks for you reply!

[2018-04-10 10:24] #122 closed

[2018-04-11 18:57] ahmadstout opened #126 "Error Message When Downloading"
System.DivideByZeroException: Attempted to divide by zero.
   at AutoUpdaterDotNET.DownloadUpdateDialog.OnDownloadProgressChanged(Object sender, DownloadProgressChangedEventArgs e) in c:\projects\AutoUpdater.NET\AutoUpdater.NET\DownloadUpdateDialog.cs:line 60
   at System.Net.WebClient.OnDownloadProgressChanged(DownloadProgressChangedEventArgs e)
   at System.Net.WebClient.ReportDownloadProgressCh

[2018-04-12 05:28] #126 closed

[2018-04-12 05:40] ravibpatel commented on #126
@ahmadstout Fixed in the latest release.

[2018-04-12 11:36] ahmadstout commented on #126
@ravibpatel
Thank You

[2018-04-13 07:29] glorytak opened #127 "Require forced update"
Require forced update option, please

[2018-04-13 07:32] glorytak opened #128 "Require customize execute application file"
EX)

![image](https://user-images.githubusercontent.com/38344882/38722312-86ba30c8-3f38-11e8-839c-747ac241e627.png)

[2018-04-14 05:39] bakx commented on #127
<?xml version="1.0" encoding="UTF-8"?>
<item>
    <version>0.0.5.0</version>
    <url>some url</url>
    <changelog>some log location</changelog>
    <mandatory>false</mandatory>
</item>

Doesn't it already have that? With the mandatory flag?

[2018-04-14 07:06] ravibpatel commented on #128
@glorytak  Do you mean to execute the file you provided in applicationpath element after the update zip extraction is done?

[2018-04-18 07:00] sajjadjaved01 opened #129 "Resume Download"
What if we have downloaded half of update & some issue came up with download / internet connection.
So we can be able to resume update, or Updater will auto resume update from that point. (For grater update or on limited connection)

[2018-04-18 07:01] ravibpatel commented on #129
@sajjadjaved01 Currently download resume is not supported.

[2018-04-18 07:05] sajjadjaved01 commented on #129
Okay thanks 🙂

[2018-04-18 20:33] MrCircuit opened #130 "Correct Basic Authentication for WebRequest"
In Line:

https://github.com/ravibpatel/AutoUpdater.NET/blob/b0035a1ef6a6b5ba3c1e6a5e136b80dcd07ab99d/AutoUpdater.NET/AutoUpdater.cs#L297

use something like:

[code]

Sorry for not branching and creating a pull request but I only had this litte issue :-).

[2018-04-23 03:21] xucongli1989 opened #131 "How to disable change log page's js script error?"
When I run updater window,and the change log window is show.But have some js error.So I want to disabled that errors to show users.
Set the change log window's browser control like this : new WebBrowser().ScriptErrorsSuppressed = true;

![20180423111500](https://user-images.githubusercontent.com/9961428/39105417-5420327c-46e8-11e8-95f1-f43153ceb1e6.jpg)

Thanks a lot.

[2018-04-23 05:07] ravibpatel commented on #131
@xucongli1989 Which windows version are you using?

[2018-04-23 05:11] xucongli1989 commented on #131
If use WebBrowser contorl in winform ,the IE version is 'IE7' whatever installed other version.So you can stop  the browser error via 'ScriptErrorsSuppressed'. You can try it.

[2018-04-23 05:48] ravibpatel commented on #131
@xucongli1989 I will add that change.

[2018-04-23 05:49] xucongli1989 commented on #131
OK，thx a lot.

[2018-04-23 05:53] xucongli1989 opened #132 "Can you make these languages folders tidy?"
Can I set the language by myself,and remove the needless folders automatically when after build?
![20180423134958](https://user-images.githubusercontent.com/9961428/39109020-a311bfda-46fd-11e8-9d9e-101d5f664973.jpg)

[2018-04-23 06:01] ravibpatel commented on #132
@xucongli1989 If you use .NET 4.0 or above they are tidy.

[2018-04-23 06:05] xucongli1989 commented on #132
Are you sure that are not empty folder?I hope just only one if I assign language.

[2018-04-23 06:14] ravibpatel commented on #132
@xucongli1989 There are no folders if you use .NET 4.0 or above. Resource assemblies are embedded.

[2018-04-23 06:15] xucongli1989 commented on #132
OK,thx a lot.

[2018-04-23 06:17] #132 closed

[2018-04-23 12:54] AluminiumTech commented on #104
I've started working on a new .NET Standard 2.0 Library Project inside the Solution in my fork of AutoUpdater.

I'm going to try to migrate stuff over but there are inherently some things we cannot include support for in the .NET Standard version.

For example, developers of applications would be responsible for getting user permission to start updating apps, developers would also be responsible f

[2018-04-23 13:01] AluminiumTech opened #133 "Can we move translations to JSON files?"
Can we move translations of AutoUpdater to JSON files?

I'm proposing this change to allow easier migration to .NET Standard.

The .NET Framework version of the app can still keep and use the .resx files but I'd like to have the translations in json files in a seperate place in the repo so that we can use it in the .NET Standard version later down the road.

Thanks

[2018-04-23 13:08] AluminiumTech opened #134 "To-Do file with rough changes coming in new versions"
Could we have a To-Do file in the repo e.g. To-Do.md which contains roughly what you're aiming to add in new versions or just generally what you want worked on?

This'll help us contributors better help and contribute to this project.

Thanks.

[2018-04-23 13:37] thewhostommy opened #135 "object reference not set to an instance"
Hi,

I'm using the following lines of code in my vsto add in:

            AutoUpdater.ReportErrors = true;
            AutoUpdater.Start("http://rbsoft.org/updates/AutoUpdaterTest.xml");

and i receive the following exception:

************** Ausnahmetext **************
System.NullReferenceException: Der Objektverweis wurde nicht auf eine Objektinstanz festgelegt.
   bei AutoUpdaterDotNET.AutoUpd

[2018-04-23 16:28] ravibpatel commented on #134
@AluminiumTech I am currently busy with another project. I will write the roadmap for version 2.0 as soon as I get some time away from it.

[2018-04-23 19:31] thewhostommy commented on #135
@ravibpatel I'm working on a class library, but i called the Method AutoUpdater.Start("...") from Windows Forms. The .net Framework version is 4.5.2.
Thank you
Andi

[2018-04-24 10:12] soeyen opened #137 "not able to install MSI"
When I specify an MSI in the XML config file, the updater throws an exception:

"no application is associated with the specified file for this operation"

Is see the code is using "UseShellExecute = true", so it should work.

Then I tried changing the code in \AutoUpdater.NET\DownloadUpdateDialog.cs like this:

`if (extension.ToLower().EndsWith(".msi")) {
	processStartInfo = new ProcessStartInfo

[2018-04-24 10:44] ravibpatel commented on #137
@soeyen If MSI started successfully after your changes then you need to handle launching of the application from MSI. AutoUpdater.NET closes after it launches an installer so it can't control it.

[2018-04-25 09:04] thewhostommy commented on #135
Hi,
i fixed the issue by calling the start method like this:

[code]

It seems that this is necessary if you use the library in a VSTO Add In.

[2018-04-25 09:04] #135 closed

[2018-04-26 08:16] soeyen commented on #137
Hi @ravibpatel ,
that makes sense.
How about the msi installation? I'm I doing something wrong that the direct execution, using shellExecute, does not work for me?

[2018-04-26 18:30] endink opened #138 "need download progress event"
mybe support self download progress hook is better, for example, show a progress bar in a splash form.

[2018-04-27 08:27] sajjadjaved01 opened #139 "Needs Info"
![image](https://user-images.githubusercontent.com/10374846/39352607-b632367a-4a1e-11e8-9322-5a08328f2a7a.png)

[2018-05-02 06:47] gaoconggit opened #140 "The Chinese file name is downloaded after downloading the random code"
![image](https://user-images.githubusercontent.com/10905068/39509138-b40f2b30-4e17-11e8-9777-29220ab15227.png)

[2018-05-02 06:48] ravibpatel commented on #140
@gaoconggit after downloading the random code what you mean by that. Can you elaborate?

[2018-05-02 06:53] gaoconggit commented on #140
My zip compression package contains files of Chinese file names.

[2018-05-02 06:55] gaoconggit commented on #140
After the update is completed, a wrong file name is out

[2018-05-02 06:55] ravibpatel commented on #140
Can you provide me url of XML file you are using?

[2018-05-02 09:40] gaoconggit commented on #140
![image](https://user-images.githubusercontent.com/10905068/39516561-dba7c432-4e2f-11e8-9a5f-252ea4435e58.png)

[2018-05-02 09:41] gaoconggit commented on #140
![image](https://user-images.githubusercontent.com/10905068/39516610-fdd8d71c-4e2f-11e8-8d41-42c84f5977fb.png)

[2018-05-02 09:41] gaoconggit commented on #140
Like this can solve the Chinese file name disorderly

[2018-05-03 04:33] gaoconggit commented on #140
this is my xml file
<?xml version="1.0" encoding="UTF-8"?>
<item>
    <version>5.0</version>
    <url>http://haoidea.wang/test.zip</url>
    <mandatory>false</mandatory>
</item>

[2018-05-03 04:33] gaoconggit commented on #140
<?xml version="1.0" encoding="UTF-8"?>
<item>
    <version>5.0</version>
    <url>http://haoidea.wang/test.zip</url>
    <mandatory>false</mandatory>
</item>

[2018-05-03 04:35] gaoconggit commented on #140
<?xml version="1.0" encoding="UTF-8"?>
<item>
    <version>5.0</version>
    <url>http://haoidea.wang/test.zip</url>
    <mandatory>false</mandatory>
</item>

[2018-05-03 04:35] gaoconggit commented on #140
![image](https://user-images.githubusercontent.com/10905068/39560182-798a4654-4ece-11e8-9bf6-c1d9f5940e75.png)

[2018-05-03 04:36] gaoconggit commented on #140
http://haoidea.wang/test.zip

[2018-05-03 13:01] ravibpatel commented on #139
@sajjadjaved01  Can you share me your XML file URL?

[2018-05-03 13:04] ravibpatel commented on #137
@soeyen I will test it with other .msi files and see if they behave same.

[2018-05-03 15:06] AlaHamad opened #141 "an exception occured during a WebClient request"
I get an error after it downloads the update zip file

![image](https://user-images.githubusercontent.com/24459724/39585069-e849a5ce-4ec1-11e8-89c9-86f5b87491eb.png)

[2018-05-03 19:34] ghost1face commented on #137
I've just run into the same problem with my .msi file and resolved the issue the same way.  I agree the application can be restarted through the installer.

I can submit a pull request if this makes things easier.

[2018-05-04 05:15] #137 closed

[2018-05-04 05:16] ravibpatel commented on #141
@AlaHamad Can you give me URL of your XML file?

[2018-05-04 05:18] ravibpatel commented on #140
@gaoconggit Tried setting different encodings but no luck. 7zip shows names correctly. I will keep digging into it.

[2018-05-04 08:51] gaoconggit opened #143 "on windows xp,Decompression error"
![image](https://user-images.githubusercontent.com/10905068/39619725-6a6f5b58-4fbb-11e8-8fa9-2040e4042177.png)

[2018-05-04 08:52] gaoconggit commented on #143
![image](https://user-images.githubusercontent.com/10905068/39619790-93966bc0-4fbb-11e8-9e4c-20cd4a66a68c.png)

[2018-05-04 10:46] VLorz commented on #141
Same happends to me when I specify the location for downloading the .zip file using
`AutoUpdater.DownloadPath = <my_local_path>;`

The path `<my_local_path>` points to one location where the current user has read/write rights without administrative privileges. I also made sure the full path exists.

When I don't specify the download path the behaviour is different, but also in error. The auto-upda

[2018-05-05 12:01] sajjadjaved01 commented on #139
http://sajjadjaved.ml/update.xml

[2018-05-05 12:05] ravibpatel commented on #139
@sajjadjaved01 You are using .7z file as download URL. Please use .zip files. 7z files are not supported.

[2018-05-05 19:31] sajjadjaved01 commented on #139
Okay

[2018-05-06 07:48] sajjadjaved01 commented on #139
Okay ✔

[2018-05-06 15:56] #139 closed

[2018-05-07 05:34] ravibpatel commented on #141
@VLorz It works when you specify the path using AutoUpdater.DownloadPath?

[2018-05-07 08:15] VLorz commented on #141
@ravibpatel, I've added an update to my previous comment.
Thanks a lot for sharing this work. Best regards.

[2018-05-07 08:30] VLorz commented on #141
@ravibpatel, I've traced down the `System.Net.WebException` exception on my system, this time it was rised because the path for the download did not exist. This of course contradicts my first comment.

One possibly appropriated point for ensuring that the download path exits is in file DownloadUpdateDialog.cs, before the call to `_webClient.DownloadFileAsync(uri, _tempFile);`, in line 45. This cod

[2018-05-07 14:15] sekulicb opened #144 "Multiple items to check in one xml file"
Hi. Thanks for this amazing library. I have a case where my app is hosting a number of dlls, where each dll is behaving like add-in (extending host app). What I mean by that is that every dlls has its own UI, viewModel and set of dependencies. It would be pretty cool for me if I could just check in bulk each version of installed apps, and only update those that have new version available or leave

[2018-05-08 06:03] ravibpatel commented on #144
@sekulicb The best approach for this currently is using multiple XML files.

[2018-05-08 11:42] #141 closed

[2018-05-10 17:49] sekulicb commented on #144
Thanks for quick response. One more question. How can I change InstalledVersion property before actual comparison of versions ? I need assembly version of add-in, not version of mainAssembly ?

All the best,
Bane

[2018-05-11 04:44] ravibpatel commented on #144
@sekulicb You can provide your assembly in Start method. This way your assembly will be used for app title and version information.

[2018-05-15 06:46] sajjadjaved01 opened #146 "Force update"
can i force updater to download the update if its newer version or not. like
pos.exe --update
so it'll download existing update.

[2018-05-15 07:05] ravibpatel commented on #146
@sajjadjaved01 If assembly version and XML version is same then you can't. You need a higher version in XML to trigger the update.

[2018-05-15 09:35] sajjadjaved01 commented on #146
@ravibpatel Okay

[2018-05-15 09:36] #146 closed

[2018-05-15 11:55] hashirsoft opened #147 "throwing error when updating using msi file"
I am trying to update using msi file. but it is thrwoing the following exception

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.ComponentModel.Win32Exception (0x80004005): No application is associated with the specified file for this operation
   at System.Diagnostics.Process.StartWi

[2018-05-15 11:57] ravibpatel commented on #147
@hashirsoft Please try following the latest version of the library from [here](https://ci.appveyor.com/api/buildjobs/o83yrb3i6u0hwewm/artifacts/AutoUpdater.NET-1.4.9.zip).

[2018-05-15 15:47] AluminiumTech commented on #103
@ravibpatel It's 2018 and frankly anybody using .NET 4.0 should be on a newer version as Microsoft has discontinued support for it. 4.5.2 or newer is supported and frankly I don't think older apps should be holding this project back. Same for .NET 2.0 .

Dropping .NET 4.0 and .NET 2.0 would be a first step in the right direction.

[2018-05-16 06:14] ravibpatel commented on #102
@shimon166 @AluminiumTech Only way to handle that right now is creating different XML files.

[2018-05-16 07:04] hashirsoft commented on #147
@ravibpatel dear can you please help me in this regard?

[2018-05-16 07:05] ravibpatel commented on #147
@hashirsoft Does MSI installer work when executed normally?

[2018-05-16 07:15] hashirsoft commented on #147
yes, when I am double clicking on downloaded msi then it is working fine

[2018-05-16 07:17] hashirsoft commented on #147
only issue from application. also issue is coming mostly when updating from application and when debugging then it is working fine.

[2018-05-16 07:48] #147 closed

[2018-05-16 07:51] ravibpatel commented on #147
@hashirsoft Please try the latest version of the application from [here](https://ci.appveyor.com/api/buildjobs/secddu10txkh8746/artifacts/AutoUpdater.NET-1.4.9.zip). It should fix the problem you are having.

[2018-05-16 07:52] ravibpatel commented on #103
@AluminiumTech I agree with you and I would love to separate GUI and back-end code but let's discuss this after I write To-do.

[2018-05-16 08:05] shimon166 commented on #102
Thanks, thats actually what i did.

[2018-05-16 08:26] ravibpatel commented on #147
@hashirsoft If you are using installer then you should handle that logic in an installer. The zip file is for simple updates and installer is for advance updates.

[2018-05-16 08:27] hashirsoft commented on #147
@ravibpatel but the issue is when is set this <mandatory>true</mandatory> then it just hide skip and cancel button. I believe it should also hide cross button on top right of popup. becasue in current implementation user can still skip update even the mandatory flag is on.

[2018-05-16 08:32] ravibpatel commented on #147
@hashirsoft User will get prompt every time they open the application if you are using it in Form constructor or load event when the mandatory flag is set. I didn't want to force users to update so I kept it that way. Many users don't like being forced to update.

[2018-05-16 08:36] hashirsoft commented on #147
ok right, actually in my opinion it will be good addition like we have financial application and we have a requirement if we have critical update related to finance then user must update before moving forward. I can fix this by changing code at my end but in this way I will not be able to get future updates on this. Can you please add new flag to handle this scenario so that if someone want to use

[2018-05-16 08:39] ravibpatel commented on #147
@hashirsoft Can you please raise another issue for this?

[2018-05-16 08:40] hashirsoft commented on #147
@ravibpatel yes sure

[2018-05-16 08:43] hashirsoft opened #148 "user must update application before moving forward"
Hello Ravi,

Currently user can skip update by clicking top right x button even mandatory flag is on. We have a requirement in some scenarios user must update before moving forward. Can you please hide top right x button when mandatory flag is on or you can add another property like critical and when this critical property is on then user cannot move forward without updating application.

Best Reg

[2018-05-16 12:55] ravibpatel commented on #143
@gaoconggit Also I don't have XP PC to reproduce this issue.

[2018-05-17 08:15] sekulicb commented on #144
Great. Thanks!

[2018-05-17 08:15] #144 closed

[2018-05-24 09:10] sajjadjaved01 commented on #129
[Check this](https://github.com/sajjadjaved01/TempDownload)
if this helps in resume download...

[2018-05-28 23:35] docesam opened #149 "Self signed zip or exe file"
You don't want to be a vector for malware , the zip or exe file need to be signed by the developer private key and verified by the public key which is embedded in the client. the signature should be included in the xml file.

[2018-06-02 01:13] batarian71 opened #150 "logo contribution"
Hi,

I want to make a contribution. Do you want me to design a logo for this repo?

[2018-06-02 15:15] KristianLake opened #151 "App timed out but cant catch it."
Hi i have a link that times out but i cant seem to catch the error.

    at System.ComponentModel.AsyncCompletedEventArgs.RaiseExceptionIfNecessary()
      at AutoUpdaterDotNET.AutoUpdater.BackgroundWorkerOnRunWorkerCompleted(Object sender, RunWorkerCompletedEventArgs runWorkerCompletedEventArgs)
      at System.ComponentModel.BackgroundWorker.OnRunWorkerCompleted(RunWorkerCompletedEventArgs e)

I

[2018-06-03 06:17] ravibpatel commented on #150
@batarian71 Can you show me example logo?

[2018-06-03 06:18] ravibpatel commented on #151
@topproto Currently it doesn't retry when it times out. But you can check if it encounters a network error and retries it again by handling update logic manually as shown [here](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually).

[2018-06-03 12:33] batarian71 commented on #150
![1](https://user-images.githubusercontent.com/36008612/40886583-5dd31d0e-6743-11e8-8484-d0af1a1a9da9.jpg)

also if there is anything you want please say me.

[2018-06-06 10:41] ravibpatel commented on #150
@batarian71 Great. Can you make it small? Just strip above part consisting of 5 logos and change "Auto updater" to "AutoUpdater.NET" and it will look great.

[2018-06-06 19:41] batarian71 commented on #150
I edited the logo. How is it? I will send a pr soon.

![autoupdater](https://user-images.githubusercontent.com/36008612/41061247-abb398f2-69da-11e8-8daf-4573dbd8c07e.jpg)

[2018-06-11 08:51] #150 closed

[2018-06-12 11:28] irs-sesc1 opened #153 "GitHub Download SSL/TLS Error"
Starting a few weeks ago I received the following error when downloading an update file from a public GitHub release.
[code]
Therefore I switched to S3 storage and it worked fine again.

I was using version 1.4.7. Now I updated to version 1.4.10 but the problem still exists.

[2018-06-12 13:04] ravibpatel commented on #153
@irs-sesc1 You can try fix suggested in issue #25.

[2018-06-12 13:06] ravibpatel commented on #149
@docesam I am already signing assemblies with snk file.

[2018-06-12 13:08] #153 closed

[2018-06-13 13:08] fritz-net commented on #127
just add an callback to `AutoUpdater.CheckForUpdateEvent`

there you check if there is a new update `args.IsUpdateAvailable`

if there is a new update call `AutoUpdater.DownloadUpdate()`

if this returns `true` kill your app

all silent

[2018-06-13 13:15] fritz-net opened #154 "ZipExtractor crashes with "path not found""
This happens in an C# WPF project. With custom `CheckForUpdateEvent` and also the default window

[code]

[2018-06-13 14:00] ravibpatel commented on #154
@fritz-net Can you give me URL of your XML file? I tested it and it works fine for me in WPF application.

[2018-06-13 14:19] fritz-net commented on #154
@ravibpatel, no sorry, it's an internal Jenkins Build server where i get my xml from (which is fetched correctly since i get the information from it about newer versions)

Here is the content of the XML file:
[code]

[2018-06-14 12:43] fritz-net commented on #154
@ravibpatel, i tried this with your example and also with a folder directly on C. The issue seams to come when I start my program from a networkdrive even if the downloaddir is on a local drive.

[2018-06-14 13:47] ravibpatel commented on #154
@fritz-net While running from network drive I encountered [this problem](https://stackoverflow.com/questions/5168880/error-creating-the-web-proxy-specified-in-the-system-net-defaultproxy-configur).

[2018-06-14 21:53] seguis opened #155 "Dont Work AutoUpdater.NET"
Good day
It does not work for me in any way to update, for more than I try, it does not show a message of any kind, this is my code, I do not know what I'm doing wrong.
Try allowing everything in the Load event of the form and even then it does not show anything, it does not show a message of any kind, it's as if AutoUpdater.NET was not installed
![updater](https://user-images.githubusercontent.co

[2018-06-15 09:21] ercumenteskar opened #156 "Download but not Update"
My assembly version2, xml version 3. When I run application, It ask for new version. I say yes, it start and finish download, restart application but nothing updated. Ask for update again. Other files not extracted also.

I open the %temp% directory, downloaded zip file in there, right click and extract, everything fine. But updater can't extract or copy to real folder.

Where should I check?

[2018-06-15 09:38] ercumenteskar commented on #156
After windows restart, fixed.

[2018-06-15 09:38] #156 closed

[2018-06-15 11:25] seguis commented on #155
If friend, but still does not show any message, I think that it should show that the application is already updated, but it does not show that kind of message either

[2018-06-15 11:30] ravibpatel commented on #155
@seguis Can you give me URL of your XML file?

[2018-06-15 11:53] seguis commented on #155
yes -> https://travianbotff.com.ve/actualizacion.xml

[2018-06-16 17:01] seguis commented on #155
Friend I think it is problems with the server where I had the XML file, at this time my website is down due to problems with web hosting, so while the hosting is repaired, I decided to try LOCALHOST, the XML file on localhost, that is -> http://127.0.0.1/actualization.xml

And it worked 100%, now I have 2 possible problems "The antivirus blocked my connection to the web server OR the VB NET progra

[2018-06-17 05:08] ravibpatel commented on #155
@seguis If you use the following line before calling Start method then it will show you an error.

[code]

[2018-06-18 10:41] fritz-net commented on #154
@ravibpatel, no i had no problem. I develop on the network drive and also started the built application from the network directly -> no issues

for me the problem is solved since now I know a workaround (start locally)

[2018-06-22 15:08] SaberNaut opened #157 "Unhandled exception has occured"
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.ComponentModel.Win32Exception (0x80004005): No application is associated with the specified file for this operation
   at System.Diagnostics.Process.StartWithShellExecuteEx(ProcessStartInfo startInfo)
   at System.Diagnostics.Process.Star

[2018-06-23 05:09] ravibpatel commented on #157
@SaberNaut Can you show me your XML file?

[2018-06-23 06:05] SaberNaut commented on #157
https://raw.githubusercontent.com/SaberNaut/xd/master/CheckUpdates.xml

[2018-06-23 06:15] SaberNaut commented on #157
Actually, I realized what was my problem oops. Was using Mediafire as a direct link for my application though I didn't know they change their keys of the URL every time. So going switch to my buds webserver instead see if things go well with my users.

[2018-06-23 06:15] #157 closed

[2018-06-28 13:47] tasossavva opened #158 "Extractor fail to extract/replace all or some file"
I face an issue lately (I believe this is happening after the latest Windows update), where in some cases the extractor fails to extract/replace some or all of the files.

[code]

This happens both with version 1.4.10 & 1.4.9.

[code]

I do not know why this is happening. The extract path is
_C:\Program Files (x86)\Codeworks Ltd\PayrollPlus_

[2018-06-29 06:17] tasossavva commented on #158
Working link below
`https://www.codeworks.com.cy/cw!Downloads/PayrollPlus/ver-2.13/updater/updater.xml`

I am using WinRAR 5.50 (64-bit) for creating the zip file.

[2018-06-29 08:04] tasossavva commented on #158
I am running the same version too. Unfortunately this is happening on some computers and I could not specify when. Could you also try for the link below? The difference is that the file size is bigger and in that case the problem was raising more often.

`https://www.codeworks.com.cy/cw!Downloads/PayrollPlus/ver-2.11/updater/updater.xml`

I do not know if it has to do with the time the software is

[2018-06-29 09:13] ravibpatel commented on #158
@tasossavva This link worked perfectly for me too. You can try handling application exit logic manually as shown [here](https://github.com/ravibpatel/AutoUpdater.NET#handling-application-exit-logic-manually). It may happen if your application isn't exiting properly. You can also try running your application as admin if it works that way then it is certain that you have file permissions problem.

[2018-06-29 11:29] xdKagami opened #159 "System.Net.WebException"
When I click update I get an error:
An exception occured during a WebClient Request
https://i.imgur.com/pRGeuMH.png

[2018-06-29 11:31] tasossavva commented on #158
Ok, I think I found the issue. The application was calling a method after the update and probably this was taking longer to close the app. So this might have been the issue, I will test it and revise here.

[2018-06-29 11:57] ravibpatel commented on #159
@xdKagami Can you give me URL of your XML file?

[2018-07-02 03:18] AshotN commented on #52
Can you please add the ability to pass command line arguments like /quiet or /passive

[2018-07-04 11:56] tasossavva commented on #158
I believe that the issue raises because I call **AutoUpdater **in** SoftwareUpdate()** called by the **Form_Load** method. As result, the source code entire code in **Form_Load** is executed, even that after  **AutoUpdater**.

I believe that this could be solved if there was a property letting know if **AutoUpdater** execution finished, or if there was a delay (in milliseconds i.e.) for executing

[2018-07-04 13:05] ravibpatel commented on #158
@tasossavva [ApplicationExitEvent](https://github.com/ravibpatel/AutoUpdater.NET#handling-application-exit-logic-manually) exist for same reason. It will run when AutoUpdater finishes the execution and needs to close the application to start the extraction.

[2018-07-05 13:04] Cormaa opened #160 "Updater file version problem"
I have a problem with my updater. The problem is whenever you are restarting software it always needs new version. So the updater does not replace old version with new. So the program always start as 10.0.0 even the updater updates it to 1.0.0.1 correctly

[2018-07-05 19:29] DjordjeMandic opened #161 "Feature request: Make ShowUpdateForm() public"
I did make workaround with AutoUpdaterOnCheckForUpdateEvent but now i dont get changelog window. I just want my app to check for updates on startup and if there are none dont inform user.

Maybe change this:

[code]

To this:

[code]

[2018-07-05 19:34] MarianoTerzolo opened #162 "Update changed files only"
I'm a newbie with autoupdater and I find the program very useful!
I need to know how to avoid replacing the .config file and, if possible, update only the changed files.

Thanks a lot!

[2018-07-06 02:34] chpiter commented on #162
+1

[2018-07-06 03:07] chpiter commented on #158
@tasossavva I get the same issue ,how can i fix it ,thanks

[2018-07-06 06:50] tasossavva commented on #158
@chpiter I believe that the issue raises because some other functions are still running and the software has not closed before the extractions has started.

To solve that you either have to make sure that nothing else will run after the update process, or follow what @ravibpatel suggested, using [ApplicationExitEvent](https://github.com/ravibpatel/AutoUpdater.NET#handling-application-exit-logic-ma

[2018-07-07 09:34] ravibpatel commented on #162
@chpiter @MarianoTerzolo You need to zip the updated files with the same directory structure as your application directory structure. That way only updated files will be replaced. After that, you need to upload that zip on your server and provide the URL between url tag as shown [here]https://github.com/ravibpatel/AutoUpdater.NET#xml-file).

[2018-07-09 12:59] AluminiumTech opened #164 "System.IO.IOException - Cannot create a file when that file already exists"
So, I set up AutoUpdater.NET in one of my WPF apps using the examples shown and I just tried updating an older version on a production PC.

It gave me an error showing this:

![image](https://user-images.githubusercontent.com/14107316/42451703-f0fe2a94-837f-11e8-9a09-e3ce3643f428.png)

I'm not sure what's wrong. I followed the example and the app doesn't close when the update is getting installed.

[2018-07-09 13:11] AluminiumTech commented on #164
So, I think I've fixed that issue.  But after the update is downloaded, it's not installed properly and doesn't overwrite the existing app version.

[2018-07-10 11:24] AluminiumTech commented on #164
@ravibpatel  Is it normal for the updater to create a new folder with the update and not overwrite the existing app files?

[2018-07-10 17:22] ravibpatel commented on #164
@AluminiumTech This is not normal behavior. I will investigate it further and let you know what causes it.

[2018-07-11 07:03] jinsla opened #166 "Can not make ZipExtractor.exe"
Unhandleed exception has occurred
Access to the path "d://ZipExtractor.exe"is denied.
Because security tool, i want dont make ZipExtractor.exe and always ready that exe file on there.
By setting AutoUpdater.DownloadPath.

But i cant make new AutoUpdater.NET.dll file
(DownloadUpdateDialog.cs
//File.WriteAllBytes(installerPath.Resources.ZipExtractor)
)

Can you make new AutoUpdater.NET.dll file for

[2018-07-11 11:02] DjordjeMandic commented on #166
If you comment `File.WriteAllBytes(installerPath.Resources.ZipExtractor)` out that then you must add file missing check beacuse if zipextractor is missing updater will likely crash.

[2018-07-11 12:34] nicolharico opened #167 "Update installation, reboot, OLD version still here"
Hi ladies & gentlemen,

First, thanks for this nice lib !

Secondly, I'm having an issue trying to implement the auto update feature at the moment.

Everything looks "normal", the distant new version is detected, the ZIP (containing the installer/publishing folder of the app new version) is downloaded, extracted and the prompts goes  thru the "installing updates" progress bar. When it ends, the ap

[2018-07-11 12:59] nicolharico commented on #160
same problem here, the update process "looks fine", but when rebooting the app, the old version is still installed and prompts for a new version :(

[2018-07-11 13:01] nicolharico commented on #160
Did you solve your problem in any way ?

[2018-07-11 16:49] ravibpatel commented on #160
@Cormaa @nicolharico Can you post the URL of your XML file?

[2018-07-11 16:52] ravibpatel commented on #167
@nicolharico Are you using same file structure as your application file structure? Also, is your zip file contain the main executable with assembly version mentioned in the XML file?

[2018-07-11 16:53] ravibpatel commented on #166
@jinsla if you want to rebuild project locally then you must go into project properties and disable signing.

[2018-07-11 18:04] DjordjeMandic commented on #160
@ravibpatel i noticed this bug. if app is deployed as single exe and if current old running exe (doing the update) has different name than new one from zip file or link program will just download that file and extract it and instead of starting new one and deleting old one it will start old one. Example if i have file test.exe and it does update for testnew.exe, test.exe is closed, testnew.exe ext

[2018-07-12 02:31] jinsla commented on #166
@ravibpatel Thank you for help~!

[2018-07-12 02:31] #166 closed

[2018-07-12 12:43] DjordjeMandic commented on #161
@ravibpatel Then how i can show show update form? I can do DownloadUpdate but i cant use ShowUpdateForm beacuse its private.

[2018-07-13 05:29] ravibpatel commented on #161
@DjordjeMandic There is no need to use event if you want to show update form. Can you tell me the reason for using this event?

[2018-07-13 20:18] DjordjeMandic commented on #161
I want to have multiple updater xml files and if one does not have update then i want to check another and only way is to do it via event. As far as I know. Also i want to implement logger via event.

[2018-07-14 21:20] Karbust opened #168 "Wait for update to finish"
Hello,

I have my Auto Patcher for the game, and I pretend to use this package to update the Auto Patcher (C#) when I need to release some update.

I have this on Program.cs (Yes, on Program.cs)
[code]

As soon as the pForm() is loaded it starts the files updates right away, but I pretend to use the AutoUpdater and only after is finishes successfully it loads the form. How can I do that?

Thank yo

[2018-07-15 05:03] ravibpatel commented on #168
@Karbust You need to handle updates manually for that to work. You can do that as shown [here](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually).

[2018-07-18 03:03] LuciaVeldera opened #169 "Access Update Path via Authentication"
Are there any way to pass username and password as parameters if application update path require authentication to access?

[2018-07-19 07:30] whoami213 opened #170 "Source not Found Using .dll file"
unable to get update

![image](https://user-images.githubusercontent.com/18107626/42927967-997e6de2-8b68-11e8-8dee-3850fdc49860.png)

[2018-07-19 20:57] mashles opened #171 "ZipExtractor logging"
I am having real trouble identifying why ZipExtractor is bombing out half way through the extract, leaving only half the files replaced. Is there any way you can add some logging or even throw up a message as part of ZipExtractor when it fails to fully extract the zip.

What should the command line arguments be for ZipExtractor if I want to test it out separate from the library?

[2018-07-20 09:04] ravibpatel commented on #171
@mashles Zip Extractor needs 2 arguments 1st one is the path of the update zip file and the second one is the current executable file.

https://github.com/ravibpatel/AutoUpdater.NET/blob/2175cedd823f1a5989f51a2b1120a3e9e163d634/AutoUpdater.NET/DownloadUpdateDialog.cs#L154

[2018-07-20 09:05] ravibpatel commented on #170
@whoami213 Can you try using NuGet file?

[2018-07-20 09:08] ravibpatel commented on #169
You can try setting [web request credentials](https://msdn.microsoft.com/en-us/library/system.net.webrequest.credentials(v=vs.110).aspx) for that. You should do it after the following line.

https://github.com/ravibpatel/AutoUpdater.NET/blob/2175cedd823f1a5989f51a2b1120a3e9e163d634/AutoUpdater.NET/AutoUpdater.cs#L297

[2018-07-20 23:19] whoami213 commented on #170
i solve the problem... Error Occurred if the url in the xml is null or path doesn't exist.
please catch the error and display to user.
thank you!

[2018-07-21 05:05] #170 closed

[2018-07-21 05:05] #168 closed

[2018-07-22 17:05] AluminiumTech commented on #164
Any luck with finding what was causing it?

[2018-07-23 05:07] ravibpatel commented on #164
@ravibpatel Sorry, I am busy with another project. As soon as I get some free time from it I will look into this.

[2018-07-23 05:08] LuciaVeldera commented on #169
I can't edit the source code because I install it via NuGet PM. Do you have any advice?

[2018-07-23 05:15] ravibpatel commented on #169
@LuciaVeldera

You can download the project and add a reference to your project to edit source code. Usually, it is a not a good idea to include Authentication information in C# code. You need to use some kind of obfuscation to hide the credentials.

[2018-07-25 19:11] #71 closed

[2018-07-25 19:12] #64 closed

[2018-07-26 14:12] tiransa commented on #167
i also have this issue

my text.xml file
`<?xml version="1.0" encoding="UTF-8"?>
<item>
    <version>1.3.0.0</version>
    <url>http://192.168.5.253:8081/server/update.zip</url>
</item>`

my button action
`AutoUpdater.Start("http://192.168.5.253:8081/server/test.xml");
            AutoUpdater.ReportErrors = true;
            AutoUpdater.RunUpdateAsAdmin = false;
            AutoUpdater.DownloadPat

[2018-07-26 16:03] Traderain commented on #154
This happens to me as well.
[code]

[2018-07-28 02:06] panmingzhi815 opened #174 "HFS Can not be used as a server"
when i used hsf as a server , autoUpadate.Net can not be update success. is only me use hfs?

http://www.rejetto.com/hfs/

[2018-07-29 10:29] ravibpatel commented on #167
@nicolharico Can you share your application? Please also share your update zip file. It will help me to troubleshoot your problem.

[2018-07-29 10:31] ravibpatel commented on #154
@Traderain Are you trying to update the app on the network drive?

[2018-07-29 11:53] Traderain commented on #154
Its installed to desktop and the update is on github releases.

On 2018. Jul 29., Sun at 12:31, Ravi Patel <notifications@github.com> wrote:

[2018-07-29 12:17] ravibpatel commented on #154
@Traderain Can you give me URL of your XML file?

[2018-07-30 05:47] tasossavva commented on #158
@ravibpatel thank you. I will give it a try.

[2018-08-01 12:56] Traderain commented on #154
@ravibpatel yes, that seems to work. Could you fix the nuget package?

[2018-08-01 16:39] ravibpatel commented on #154
@Traderain I will fix it asap. Thanks for reporting it.

[2018-08-02 07:35] #161 closed

[2018-08-02 08:01] stardance commented on #143
.NET 2.0 is Required!

[2018-08-02 08:28] tangtao-xp1 opened #175 "Does AutoUpdater.NET support running exe file self-replacing?"
I wonder if the running process(main.exe) could download new version exe file and replace itself ?
I tried to do that, but the main.exe rejected me because the exe is running

Thank you!

[2018-08-02 09:41] ravibpatel commented on #175
@tangtao-xp1 Yeah, Just zip it and provide zip file URL in your XML file. It will replace currently running exe.

[2018-08-02 10:09] tangtao-xp1 commented on #175
@ravibpatel It works, thank you!

[2018-08-02 10:14] #175 closed

[2018-08-02 10:14] ravibpatel commented on #154
@Traderain Updated package with the fix.

[2018-08-02 15:16] Traderain commented on #154
Thanks. It works flawlesly.

On 2018. Aug 2., Thu at 12:14, Ravi Patel <notifications@github.com> wrote:

[2018-08-02 17:16] #154 closed

[2018-08-03 06:14] ravibpatel commented on #167
@tiransa @nicolharico Updated NuGet package with the fix. Please, can you check it?

[2018-08-03 08:02] NewITCorp opened #176 "How to use .msi file?"
Hi,

Sometimes I would like a user to reinstall a whole msi file instead of replacing some files in an app folder.
There are some script during installation that are packed in the msi file.
I would like the autoupdater to notify and download as usual but after download is completed, just open an msi file to proceed an installation.
Please advise how to proceed that.
Thank you

[2018-08-04 03:07] NewITCorp commented on #176
thanks a lot. really easy!

[2018-08-04 03:07] #176 closed

[2018-08-05 16:13] #167 closed

[2018-08-05 16:15] ravibpatel commented on #158
@tasossavva Updated NuGet package with the fix.

[2018-08-05 16:16] #155 closed

[2018-08-05 16:16] #159 closed

[2018-08-05 16:17] #162 closed

[2018-08-06 09:46] ravibpatel commented on #174
@panmingzhi815 Getting connection timeout when tried to open in a browser.

[2018-08-19 00:25] danieljoris opened #178 "Add more options in xml/json"
Is it possible to add more information in the XML / JSON file without generating exceptions?

[2018-08-21 22:09] DjordjeMandic commented on #175
@ravibpatel it works only if zipped file is same name of current running executable. can you make zip extractor to extract file and replace it with the executable that has to be updated if filename is different? example if user renames my app from test.exe to test2.exe and runs an update updater will just extract file from archive in same directory and now i have test.exe(new version) and test2.ex

[2018-08-23 07:32] ghost opened #179 "Missing current installed version detection mechanism in documentation"
I think is important to widen documentation with a section explaining how you must detail version information in your software so that AutoUpdater can read it and compare with the version given in the appCast file.

[2018-08-29 19:50] lhersman opened #180 "Install with commands (like /q or /qs)"
Is there any way to launch the update/new MSI with commands (so we can install silently)?  If not, can this be a new item in the XML (ie <msiinstallcommand>/q</msiinstallcommand>)

[2018-08-29 19:54] #180 closed

[2018-08-30 13:49] AresEkb commented on #125
How did you implemented it? I use a custom CheckForUpdateEvent handler. But the application starts anyway in background.

[2018-08-30 14:43] DjordjeMandic commented on #125
@AresEkb Make a variable bool pauseStartup = true and then if there is no new update just set it to false. And add while(pauseStartup) Thread.sleep(100); before application.run. (Im not sure if this will work.)

[2018-08-30 17:47] AluminiumTech commented on #104
Okay, so I'm probably going to start over my attempt at porting to .NET Standard 2.0 .

I now have a plan on how I'd like to tackle this
1. Fork ZipExtractor and migrate it to a .NET Core console app to allow being run on Windows, Mac, or Linux. On Windows it will still be an exe file and function identically to how it does now.
2. Create a new .NET Standard library in my fork of the project and c

[2018-08-30 18:09] PoLaKoSz commented on #104
Hi @AluminiumTech !

I think the .NET Standard 2.0 should at least contains a WPF UI to have an example implementation and of course don't forget about people out there who want a fast solution and don't want to mess with the UI too and satisfied with the built-in.  :smile:

*(Sorry for my bad English)*

[2018-08-30 21:50] AluminiumTech commented on #104
Yeah, we can definitely have a GUI example using the .NET Standard version working with WPF and also a WinForms version. But I think also having a .NET Core console app example would also be good.

I'm starting from scratch so as soon as I have stuff I'll be sure to submit a pull request when we have a v2.0 branch.

[2018-08-30 22:31] #103 closed

[2018-08-30 22:35] AluminiumTech commented on #104
By the way, @ravibpatel  Why does the ZipExtractor project contain the ZipStorer.cs file? Can't we just reference it from Nuget and make it easier to manage from there?

Can we migrate to the Nuget package?

[2018-08-31 07:00] AresEkb commented on #125
I've got it. One should remove application startup logic from `Main()` method. This method must invoke only updater. And CheckForUpdateEvent handler must explicitly run main application logic.

[2018-08-31 08:50] ravibpatel commented on #159
@kiran1384 Can you give me URL of update file?

[2018-08-31 09:05] kiran1384 commented on #159
here is the link Ravi
http://************/AutoUpdater/Installation/HIRF_Setup.msi

[2018-08-31 09:13] ravibpatel commented on #159
@kiran1384 Can you provide me accessible link? I can't find out what is wrong with dummy link. If you can't provide it here, you can provide it on https://rbsoft.uservoice.com

[2018-08-31 09:19] kiran1384 commented on #159
Ravi, it's an intranet link and not accessible outside the company network.
When clicked on the link, the .msi file download will prompt to save or run
the file.

Kiran N
Bangalore.

On Fri, Aug 31, 2018 at 2:43 PM, Ravi Patel <notifications@github.com>
wrote:

[2018-08-31 09:36] ravibpatel commented on #159
@kiran1384 In that case you can try debugging the AutoUpdater.NET project by adding it to your solution.

[2018-08-31 09:40] kiran1384 commented on #159
Thanks @ravibpatel,  will try to figure out by adding the project to my soulution.

[2018-08-31 12:30] AluminiumTech commented on #104
@ravibpatel  As a dependency it's easier to manage imho.

Anyhow, I started work on ZipExtractorCore and I'll provide more details when it's completed. I think it won't take too long to get done.

[2018-08-31 15:17] AluminiumTech commented on #104
@PoLaKoSz  Here's what I've done so far on ZipExtractorCore -> https://github.com/CSMarkBenchmark/ZipExtractorCore/

If you want me to make some binaries for it and upload them on the releases page of that then I can.

[2018-08-31 17:11] DjordjeMandic commented on #125
@AresEkb its not good idea to run main application method inside event. what if multiple events occur?

[2018-09-01 05:33] ravibpatel commented on #125
@AresEkb Network request can take unknown amount of time so application can take longer to startup if I provide non-async version of Start method. That's why I decided against it.

[2018-09-01 06:45] AresEkb commented on #125
Thank you for answers! It seems I have a very specific update scenario. I develop a corporate application, which must be auto updated at startup. This update must be forced. There should not be any confirmation dialogs. So, it's easer to implement it from scratch.

[2018-09-04 12:45] kiran1384 opened #181 "Unable to update the application after new version downloaded"
I am getting an error message - This installation package could not be opened. Verify that the package exists and that you can access it, contact the application vendor to verify that this is a valid Windows Installer package.
I can see the newer version downloaded in the download path, when i try to manually install by clicking that file i see an error message saying - Unable to install because a

[2018-09-04 18:30] djcarter-dv opened #182 "Use native Windows Zip extraction"
Hi there, wondering if there's any reason we cannot use Windows native C# zip extraction for Windows 7 and higher? Has anyone tried this?

https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.ziparchive?view=netframework-4.7.2

This separate ZipExtractor.exe prompts UAC, hanging the update, which is causing me a lot of problems with overseas users and headless servers.

Thanks,
DJ

[2018-09-04 19:11] djcarter-dv commented on #182
I've downloaded the code and I see you are using System.IO.Compression. It looks like I'm missing the keys for signing the binaries. Should I just generate my own?

[2018-09-05 05:27] ravibpatel commented on #182
You can turn of UAC promt as shown [here](https://github.com/ravibpatel/AutoUpdater.NET#run-update-process-without-administrator-privileges).  Also I didn't use ZipArchive cause AutoUpdate.NET was made for .NET framework 2.0 and above.

[2018-09-06 11:18] ravibpatel commented on #181
@kiran1384 This is the error from installer. What kind of installer are you using?

[2018-09-06 11:36] kiran1384 commented on #181
@ravibpatel it's a .msi installer

[2018-09-09 23:05] techno2001 opened #183 "Set custom value for installedVersion"
Hi,
is there any way to set custom value for "installedVersion" to compare with remote version?
i have many third party packages with different versions in root directory and need to update specified package not the whole thing.
thanks.

[2018-09-10 07:38] ravibpatel commented on #183
@techno2001 You can try to provide assembly you like to update Start method takes assembly as an argument. That way it will check that assembly for version information.

[2018-09-10 07:41] ravibpatel commented on #181
@kiran1384 Is there a reason why you need to use installer? If your update only requires changing some files then you should use Zip for simpler updates cause AutoUpdater.NET doesn't have any control over installer. You can try fix mentioned [here](https://support.pix4d.com/hc/en-us/articles/202650009-Error-This-installation-package-could-not-be-opened-Contact-the-application-vendor-to-verify-that

[2018-09-10 07:45] ravibpatel commented on #178
@danieljoris You can parse JSON [manually](https://github.com/ravibpatel/AutoUpdater.NET#handling-parsing-logic-manually). You will get additional data you received from your JSON that way.

[2018-09-11 06:04] kiran1384 commented on #181
@ravibpatel I will give a try with your suggestion, thank you.

[2018-09-18 18:48] NeomMob opened #184 "Managing a stable and a beta update channels"
How can we manage 2 different update channels (one for stable release, one for beta ones) and allow the user to move from one to the other?

[2018-09-19 05:01] ravibpatel commented on #184
@NeomMob You can use separate call to Start method for both beta and stable channel.

[2018-09-21 12:20] snechaev opened #185 "Includign AutoUpdater.NET package broke Type.GetType"
In out code we have the operation like this
`var result = Type.GetType("ArrayOfint, http://schemas.microsoft.com/2003/10/Serialization/Arrays");
`(the argument is actually calculated). The expected result will be null (type not found).

But after adding AutoUpdater.NET 1.4.11.0 and referencing one of static field of AutoUpdater class, the code above throws FileLoadException instead returning null.

[2018-09-21 20:57] tingspain commented on #74
+1

[2018-09-22 19:29] UBGEdev opened #186 "Make the DialogBox optional. Enabled by default."
The thing is, this module work as a charm. it would be great if it could update silently. so there's no need to connect to the vps and update.

[2018-09-23 13:53] NeomMob commented on #184
@ravibpatel Thanks for your answer. Imagien my stable version is 1.2 and my beta 1.3. If I want to move from beta (already installed) to stable, how can I force the updater to "downgrade" from 1.3 to 1.2 ?

[2018-09-23 13:59] cobra23 opened #187 "google drive"
thank you for the helpfull project, is it possible to use google drive as webserver?
because i can't do it, would you help me please

[2018-09-23 14:54] PoLaKoSz commented on #184
@NeomMob I recommend to follow [semantic versioning](https://semver.org).

[2018-09-23 15:00] NeomMob commented on #184
@PoLaKoSz Thanks for the suggestion. How can semver can solve the question of moving from a stabble channel to a beta one and the opposite?

[2018-09-23 18:05] NeomMob commented on #184
@PoLaKoSz Thanks for these pointers!

[2018-09-25 08:41] snechaev commented on #186
@UBGEdev, but there is already CheckForUpdateEvent here. With this event you can easily start downloading of the new version without any dialog boxes. The example is present in the [readme file](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually).

[2018-09-26 17:12] zedle opened #189 "Doesn't seem to work with proxy"
I have a proxy enabled on the system and it doesn't seem to retrieve the XML file. I can access the URL through the proxy without issue. Tried manually setting the proxy details as per the readme and it didn't change the result. ReportErrors = true seems to do nothing (looking for some insight into why it doesn't trigger an update with the proxy enabled).

[2018-09-26 20:30] EKanadily commented on #149
so the only cheap and secure solution i can think of is to generate public - private RSA key pairs and emped the public key in the update library , then sign the updated zip file with the private key. when the update library download a new zip file it will check the digital signature ensuring that it came from you. i have a working proof of concept program.

[2018-09-27 00:58] AluminiumTech commented on #133
@ravibpatel  Sorrry for not responding in quite a while.

The project could migrate fully to using json files for both the .NET Standard and the .NET Framework and this would be easier to update and manage in the future.

[2018-09-27 00:59] AluminiumTech commented on #158
I'm still having this issue with AutoUpdater.NET 1.4.11

[2018-09-27 01:05] AluminiumTech commented on #148
@ravibpatel  might be worth changing the milestone to v2.0

[2018-09-27 01:07] AluminiumTech commented on #187
What issue(s) are you having and what specifically are you doing?

[2018-09-27 01:56] AluminiumTech commented on #182
@djcarter-dv  I will try to look into this for the .NET Core version of ZipExtractor I'm working on since the documentation says it should work in .NET Core.

[2018-09-27 03:31] EKanadily commented on #101
but in this case it will force program exit, no?

[2018-09-29 08:11] prchanda opened #190 "ZipExtractor UI hangs while extracting the update"
I have followed this : https://github.com/ravibpatel/AutoUpdater.NET#adding-one-line-to-make-it-work and my code looks like this:

public frmDashboard()
        {
            AutoUpdater.RunUpdateAsAdmin = false;
            AutoUpdater.DownloadPath = Environment.CurrentDirectory;
            AutoUpdater.Start("https://xyz.com/release/updates.xml");
            InitializeComponent();
            I

[2018-09-29 08:45] prchanda commented on #190
Thanks a lot for quick reply !

I will try it right away and let you know, how it goes.

[2018-09-29 10:08] prchanda commented on #190
Unfortunately calling AutoUpdater.Start after InitializeComponent call, didn't help. Is it fixed yet ?

[2018-09-29 10:10] ravibpatel commented on #190
@prchanda Sorry, I am working on another project so I can't fix it right now. This usually happens if your application is taking a long time to close. I close this issue when I fix it.

[2018-09-29 10:15] prchanda commented on #190
No problem @ravibpatel. Can you provide any ETA for the fix ?

I really liked this utility, so don't want to switch to any other options.. :)

[2018-09-29 10:16] ravibpatel commented on #190
@prchanda I can't promise but I will try to do it before the end of next week.

[2018-09-29 11:41] cobra23 commented on #187
i want to use google drive as server so autoupdater.start(googledrivexmllink);
where googledrivexmllink is the link provided by google drive when i upload the xml file in it, in my case the link is:
https://drive.google.com/file/d/1rcnBrIpMZiqq2sh65YgMuEAJMXBxTfeO/view?usp=drivesdk
I think that is a problem of subdomain, because i try it with two other subdomain and it dose not work also, unles it

[2018-09-29 15:48] UBGEdev commented on #186
Untesrtood.

[2018-09-29 15:48] #186 closed

[2018-09-29 23:29] Shamanovski commented on #190
And one more thing, how to suppress "There is no update available. Please try again later." dialog when versions match? It is meaningless for this case

[2018-09-30 09:12] AluminiumTech commented on #187
@cobra23  The issue might be that the XML file points to localhost.

[2018-09-30 09:32] cobra23 commented on #187
@Aluminium Tech
no i don't think so, cause I changed the link of the zip file, but the main problem is that there is no dialog box apeared to show me that there is a new version, but when i change the server of the fml link to anther domain name(not subdomain) it works perfectly, thank you in advance

[2018-10-01 10:47] VasenevEA opened #191 "How download .msi and .exe and run .exe ?"
Hello!

I have 2 files: .msi and .exe.
I Want to download all files and run .exe.
How can I do it?

[2018-10-01 11:20] ravibpatel commented on #190
@Shamanovski Make sure [error reporting](https://github.com/ravibpatel/AutoUpdater.NET#enable-error-reporting) is disabled. If you use installer file instead of zip file as download file AutoUpdater will try to execute it.

[2018-10-01 11:27] ravibpatel commented on #187
@cobra23 Link you provide for the XML file should provide raw XML data nothing else. In the case of Google Drive links that is not the case. I suggest using GitHub repo to provide XML file as it provides raw linking to files inside the repo.

[2018-10-01 11:37] ravibpatel commented on #189
@zedle Did you try adding the project as source and debugging it? I never tested proxy feature extensively. If you can provide me your proxy detail and file URL it will help me test it. You can do it here https://rbsoft.uservoice.com.

[2018-10-01 12:40] Shamanovski commented on #190
thank you!

[2018-10-02 08:43] cobra23 commented on #187
@ravibpatel thank you for the response sir, but i don't have any pb with servers using domain names, my pb is when i upload the xml in servers using subdomains like drive.google.com, please is there a solution to avoid it?

[2018-10-02 11:46] JanWidm commented on #187
You could set up your github.io page and upload everything there!

[2018-10-02 12:02] cobra23 commented on #187
@JanWidm thank you

[2018-10-02 12:45] JanWidm commented on #187
The problem is that Google Drive does not provide a direct file link (with the .xml at the end) so this would be kinda tricky to do. You would have to get the content of your google link somehow and feed it to the AutoUpdater.

[2018-10-02 12:51] ravibpatel commented on #191
@VasenevEA It is only possible if you handle the update manually as shown [here](https://github.com/ravibpatel/AutoUpdater.NET#handling-updates-manually). You need to handle download and execution logic yourself, you can't use the DownloadUpdate method provided by AutoUpdater.

Can I ask why you have both .msi and .exe file? Which installer you use?

[2018-10-02 14:07] cobra23 commented on #187
@JanWidm this is not the pb cause i used another url (http:/technocid-dz.hebergratuit.net/upd/test.xml)
and it was the same pb, the application dont show me the udate dialog box, so i think that this library don't support subdomains names. otherwise (domain names works with me!)

[2018-10-02 14:12] JanWidm commented on #187
@cobra23 subdomains is not a problem. Are you sure you increased the version in the XML and did not skip the update? Try to change the version in the XML to version 2.0.0.1 (just to test) and update your application.

[2018-10-02 14:37] cobra23 commented on #187
@JanWidm thank, but i used the same xml in a domain name and it works perfectly
for the version nuber ichanged to other version and it also dosn't work, i created a github page and also same
https://cobra23.github.io/updatebs.github.io/test.xml

[2018-10-02 15:00] JanWidm commented on #187
@cobra23 also you should enable `AutoUpdater.ReportErrors = true;` so you get a message if there is no newer update avaiable.

In your Google Drive XML you use version `2.0.0.0` and in your website version u used `1.0.0.1`

[2018-10-02 15:14] JanWidm commented on #187
@cobra23 I just pasted your github.io XML into my application and it worked. I assume that your installed version (.exe) has a higher productversion that the version in the xml. Could you check that?

[2018-10-03 09:56] cobra23 commented on #187
@JanWidm thank you for the efforts, the version of my exe is 1.0.0.0,(lower to the xml), but when i wrote autoupdater.reporterrors=true;
it shows to me an error message: that there is a problem with the update server

[2018-10-03 11:20] JanWidm commented on #187
@cobra23 so there is a problem with connecting to the github.io server. I just tested it for my project. I'll take a look at the code to find out the problem. @ravibpatel

[2018-10-03 11:34] JanWidm commented on #187
@cobra23 is it possible that you added the Autoupdater.NET.Official just as a dll Reference?

`<Reference Include="AutoUpdater.NET">
      <HintPath>..\..\teset\packages\Autoupdater.NET.Official.1.4.11\lib\net40\AutoUpdater.NET.dll</HintPath></Reference>`

Could you create a new Project with the NuGet Package instead of the direct dll?

[2018-10-03 13:26] JanWidm opened #193 "Webrequest.Create incorrect URL"
Is it possible to add some errorhandling for your `Webrequest.Create()` logic?

In the `AutoUpdater.cs` line `297` is following code: `var webRequest = WebRequest.Create(AppCastURL);`
If you provide a incorrect or empty URL the app just crashes with a not so pretty error message. (sorry can't really post it because it's in german for me)

https://github.com/ravibpatel/AutoUpdater.NET/blob/f184795d

[2018-10-03 13:30] ravibpatel commented on #193
@JanWidm Yeah, I think it is necessary. I will do it asap.

[2018-10-03 13:58] cobra23 commented on #187
@JanWidm thank you sir, your project works fine, but when i create another project using the nuget lib, i have the same pb

[2018-10-03 14:33] JanWidm commented on #187
@cobra23 possible problem with your Visual Studio version? I saw that you are not using the newest right.

[2018-10-03 14:41] cobra23 commented on #187
@JanWidm yes i am using sharpdevelop 5 with is equivalent to visual studio 2010 express

[2018-10-03 14:58] JanWidm commented on #187
@cobra23 you might have found the problem haha 😄 I don't know if there are any bugs with creating projects with sharpdevelop. I think it would be great to test the visual studio community edition (free) to avoid this kind of bugs. You probably should test it and decide what you should use. For now I think you can close this issue since it's not a general problem.

[2018-10-03 15:06] cobra23 commented on #187
@JanWidm thank you very much :+1:

[2018-10-03 15:06] #187 closed

[2018-10-07 10:05] PoPoWanObi opened #195 "Update Check Failed"
Hello, I am using the latest version embedded into my application.

I am receiving the error "Update Check Failed | There is a problem reaching update server. Please check your internet connection and try again later." The message displays immediately with ReportErrors enabled.

The update URL is set properly and it is able to open in a browser just fine.

Using the default URL works fine however.

[2018-10-07 11:39] ravibpatel commented on #195
@PoPoWanObi Can you give me URL of your XML file?

[2018-10-07 11:41] PoPoWanObi commented on #195
Sure. https://vanguardservers.tk/downloads/launcher.xml

[2018-10-07 18:43] VasenevEA commented on #191
@ravibpatel Thanx for response. I Was fork this project and make some customiing...
I use Visual Studio Installer (vdproj) for old (legacy support) application. .exe file - it's a scrypt for downloading .Net Frameforks (if not exist) .

[2018-10-08 15:51] tkvision commented on #179
Agree, I try to do same as document tell but my app still infinity loop of updates until I declare version in AssemblyInfo.cs

[2018-10-09 00:39] PoPoWanObi commented on #195
@cobra23 Hello I am using Visual Studio 2017.

Building in Net framework 4.5.

[2018-10-09 08:20] cobra23 commented on #195
@PoPoWanObi here is a project created with 2017 last update and framework 4.6.1 by @JanWidm and modified by me in VS2013 to use your URL, it works fine, you have to try it
so the problem is in the framework : using  4.6.1 or higher works else No
the URL of the project using your xml URL
https://cobra23.github.io/essaiAuto2.zip

[2018-10-09 08:43] JanWidm commented on #195
@cobra23 @PoPoWanObi @ravibpatel Yeah this is actually a strage behaviour. The AutoUpdate.NET uses WebRequest -> https://github.com/ravibpatel/AutoUpdater.NET/blob/f184795dc7c0c02e6470785b0a22b44d6f5e9f5b/AutoUpdater.NET/AutoUpdater.cs#L297
Webrequest is a obsolete API and probably should be updated to [HttpClient](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?redirectedfr

[2018-10-09 08:53] JanWidm commented on #195
Okay, so working with .NET Framework 4.6 works fine, everything below says I am not able to connect to the server. @ravibpatel

[2018-10-09 09:05] ravibpatel commented on #195
@PoPoWanObi @JanWidm You need to switch Security Protocol. Switching to TLS 1.2 should work. See #25. I will add this to docs.

Use the following statement before using the Start method.

[code]

[2018-10-09 11:39] PoPoWanObi commented on #195
@cobra23 , @ravibpatel , @JanWidm

Thanks guys.

[2018-10-09 11:40] #195 closed

[2018-10-10 06:56] JanWidm opened #196 "Force check update"
Is it possible to force the check for a update? If not this would be a great improvement imo.

**Example:**
In my application, I check for updates on App-Startup, if I choose to skip the update or do it by mistake, I won't be able to update the app. It would be great to have a bool to "force" the update.

[2018-10-10 07:07] ravibpatel commented on #196
@JanWidm Just set Mandatory to true in XML and user will get prompt until they update the application. There is no way to skip the update.

[2018-10-10 07:11] JanWidm commented on #196
Yeah, but thats not really the point. I'd like to have a normal update and if the user skips it by mistake or just would like to update later, he won't be able to do that. Is there no way to say "I'd like to check again" or just ignore the skip I set earlyer? The info is saved in the registry right?

[2018-10-10 07:14] ravibpatel commented on #196
@JanWidm If you set it to true then previous values of Skip and Remind Later will be ignored. I usually do it like this. First I check for update at the start of the application with Mandatory flag off. But I also provide an option to check for the update manually and it has the Mandatory flag on like [this](https://github.com/ravibpatel/AutoUpdater.NET#ignore-previous-remind-later-or-skip-setting

[2018-10-10 07:16] JanWidm commented on #196
@ravibpatel that was what I was looking for 👍 Thanks. I thought you were talking about the Mandatory flag in the XML.

[2018-10-10 07:16] #196 closed

[2018-10-10 15:04] AluminiumTech commented on #134
any update on this?

[2018-10-10 16:55] ravibpatel commented on #134
@AluminiumTech I will be free soon. So hopefully I can work on this.

[2018-10-10 18:08] AluminiumTech commented on #133
@ravibpatel  Moving forward beyond .NET Framework, Resx isn't well supported if at all and json is a much easier way of storing localizations.

I have started working on porting existing translations to Json and I'll submit a PR when I'm done.

[2018-10-10 18:22] AluminiumTech opened #197 "Possible issue with Italian Translations - Translators wanted"
Hi,
I noticed that there's an issue with the Italian Translations for AutoUpdater.

The first phrase in the translation file hasn't been translated but the rest have been.

![image](https://user-images.githubusercontent.com/14107316/46757333-c2937c00-ccc1-11e8-82b2-9e34111df3fe.png)

[2018-10-10 21:00] MarcStan commented on #185
My knowledge of type internals is a bit rusty, but is "ArrayOfint, http://schemas.microsoft.com/2003/10/Serialization/Arrays" valid?

Checking the [Type.GetType](https://docs.microsoft.com/en-us/dotnet/api/system.type.gettype?view=netframework-4.7.2#System_Type_GetType_System_String_) and [type names](https://docs.microsoft.com/en-us/dotnet/framework/reflection-and-codedom/specifying-fully-qualifi

[2018-10-11 06:44] ravibpatel commented on #197
@AluminiumTech Hi, Most of the translations are user submitted. So I don't know anything about it maybe it was better untranslated.

[2018-10-11 08:36] AluminiumTech commented on #197
Okay. It's probably a good idea to keep this issue open until it is fixed.

[2018-10-16 10:52] heensdave opened #199 "Old application stays in control panel"
I am using the latest version 1.4.11.0 I am able to update the application (from version 1.0.0 to 2.0.0) but if I check in the control panel I can see the old version (1.0.0) there too.

[2018-10-16 11:10] ravibpatel commented on #199
@heensdave Are you using Zip file to update the application?

[2018-10-16 11:12] heensdave commented on #199
I am using .MSI installer

[2018-10-16 11:14] ravibpatel commented on #199
@heensdave AutoUpdater.NET just executes your installer so if it changes the version if you manually upgrade then it should change version when you update it using AutoUpdater.NET.

[2018-10-16 11:15] heensdave commented on #199
It does changes the version on existing application. Only issue is it left over the entry of old version of application in control panel

[2018-10-16 11:18] ravibpatel commented on #199
@heensdave You need to create an installer in a way it can detect existing installation and upgrade it.  Seems like your installer installs it like a fresh installation and that's why it is leaving old entry behind.

[2018-10-16 11:35] ravibpatel commented on #199
@heensdave Yeah, That was my point. AutoUpdater.NET just downloads and executes the installer. It doesn't influence actions taken by the installer.

[2018-10-16 11:49] heensdave commented on #199
Recreating installer with handling previous version works. Thanks for the prompt response.

[2018-10-16 12:02] #199 closed

[2018-10-19 14:36] PoPoWanObi opened #200 "File already exists"
Hello, me again.

I hadn't worked on my project since we resolved the connection issue previously. Just had time to start working on it again, and I got the following error:
https://gyazo.com/9533204a1f607d7e30290e32b0752169

Program is running as admin.

[2018-10-19 14:42] PoPoWanObi commented on #200
Duplicate issue, disregard. Sorry

[2018-10-19 14:42] #200 closed

[2018-10-19 14:43] PoPoWanObi commented on #164
Also have this issue ~

[2018-10-31 15:17] DrJaymz opened #202 "Permissions"
I think I can get away with just updating files from a zip file.  It works if I ran my application originally as administrator, however, if I run normally then it cannot download the files because it hasn't got permission to write to the folder.

Supposedly, I could run an MSI which would of course require UAC to ask if this is ok and then it should work.

The only other solution I was thinking wa

[2018-11-03 12:32] ahmadstout opened #203 "Wrong data read from xml file"
Hello, Thank you for your project.

there is a mistake in read from xml file,version don't make any sense when change it, even if i delete xml file from website the program still read old data and tell me there is no update available.

and don't show any error about the xml file.

[2018-11-03 13:52] ahmadstout commented on #203
the problem was from the host, Thank you very much!

[2018-11-03 13:52] #203 closed

[2018-11-03 18:17] GoatMemes opened #204 "version not changing"
I have everything set up and the updates work but when I install an update it doesn't update my applications version, But it does install the update. So how do I make it so it changes application version along with the update?

[2018-11-03 18:41] ravibpatel commented on #204
@GoatMemes Are you using a zip file for the updates?

[2018-11-03 18:51] GoatMemes commented on #204
@ravibpatel Yes

[2018-11-03 18:55] ravibpatel commented on #204
@GoatMemes Where you didn't see the application version after update. Zip file updates just overwrite app folder data with the new update. If you want full control over updates then you should use the installer

[2018-11-03 19:08] GoatMemes commented on #204
@ravibpatel When I click the "Check for updates" button it opens the menu saying there is an update so then I go ahead and update it but then if I click the button after the update it still says the application version is still the same how do I get it to change the app version with the update

[2018-11-03 19:10] AAN3AC commented on #204
The version number inside your exe file is in your visual studio project properties.  Manifest

[2018-11-03 19:19] GoatMemes commented on #204
@AAN3AC Still when I try to update it says my current version is "1.0.0.0" but in the manifest is says "1.0.0.2".

[2018-11-03 19:30] GoatMemes commented on #204
I figured it out thanks for helping!!!  👍

[2018-11-03 19:30] AAN3AC commented on #204
I meant "assembly information" the "assembly version"

On November 3, 2018 3:19:10 PM EDT, GoatMemes <notifications@github.com> wrote:

[2018-11-03 20:02] #204 closed

[2018-11-04 20:29] #178 closed

[2018-11-10 13:42] thelemontree10 opened #205 "Can I download XML from Google Drive by my own and transfer the content to AutoUpdater.Start ?"
Dear ravibpatel,

I copy your code inside (webresponse) AutoUpdater.Start to download XML from my google drive. The test shows that the code inside yor dll can download XML from google drive.

But when I copy the link to use directly from AutoUpdater.Start, it always shows error like problem about connectivity.

So can I have a turn around way to transfer the XML data I have already downloaded, lo

[2018-11-11 05:13] ravibpatel commented on #205
@thelemontree10 Your XML is wrong. You must provide url and version fields in XML. Also, make sure version you specify in XML must be higher than your assembly version.

[2018-11-11 05:28] thelemontree10 commented on #205
I have identified the problem. The XML you have seen is the revision.

The problem here is that if you have the word "id" in the tag <url>, your code can not parse xml and throw error.

In addition, in stead of throwing a general error. You should throw error description thrown by VS. So that people can know what is wrong. Your error description make me misunderstand all...

[2018-11-12 16:13] Primabase opened #206 "Distribute library with resx files"
I've added a reference to AutoUpdate.NET library in a Windows Form application. The setup project (MSI) install correctly but when I open the UpdateForm the language is always English. If I debug from V.S. in my laptop the language is correct.
After various tests I've discovered that if i copy language folders in application folder of the client UpdateForm run with correct language. I've to includ

[2018-11-13 09:05] ravibpatel commented on #206
@Primabase Which .NET Framework are you using?

[2018-11-14 10:06] Primabase commented on #206
.NET Framework 4

Thank you

[2018-11-14 10:13] ravibpatel commented on #206
@Primabase .NET Framework 4 version has embedded resource assembly so it should work without problems. Are you using the NuGet package?

[2018-11-15 23:25] wizengamot opened #207 "Problem with AutoUpdater.Start method"
Confirmed this on multiple occasions with code on my side.  When I store the URL in AppSettings and then either directly use code such as AutoUpdater.Start(ConfigurationManager.AppSetting["UpdateURL"]); the UpdateInfoEventArgs value in the AutoUpdaterOnCheckForUpdateEvent is null.  When I pass the url as string like this:  AutoUpdater.Start("https://www.google.com/update.xml"); then the UpdateInfo

[2018-11-16 10:54] blind0wl opened #208 "Download xml from a server share location (Windows share SMB)"
I have a few clients who are fairly locked down in terms of outside internet access and I don't have much access to a web server within their network.  Is there anyway I can have the updater use a windows share to check the xml?  Im struggling to find a solution for them without the required internet access.  Other users with no restrictions have no problems.  This group of users cannot use a prox

[2018-11-18 04:12] thelemontree10 commented on #205
For those who see this post,

If you still want to use google drive, instead of using XML, you use JSON as a AppCast as described in the readme of AutoUpdater.